$className: c-more-like;

.#{$className} {
	@extend %list-card-more;
	&__title {
		@extend %list-card-more__title;
		color: #000;
	}
	&__grid {
		@extend %list-card-more__grid;
	}
	&__bt-load {
		@extend %list-card-more__bt-load;
	}

	@include media-breakpoint-up(md) {
		@include list-breakpoint-up($className, 'md');
	}
	@include media-breakpoint-up(lg) {
		@include list-breakpoint-up($className, 'lg');
	}
}
