.c-post-sidebar {
	> * {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		font-size: 2rem;
		font-weight: bold;
		line-height: 1;
		color: #000;
	}

	&__item {
		display: flex;
		width: 100%;
		height: 75px;
		align-items: center;
		position: relative;
		&:hover {
			.c-post-sidebar__thumb {
				transform: scale(1.2);
				transition: 0.3s ease-in-out;
			}
			.c-post-sidebar__description {
				text-decoration: underline;
			}
		}
	}
	&__wrap-thumb {
		width: 108px;
		height: 75px;
		position: relative;
		overflow: hidden;
	}
	&__thumb {
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transform: scale(1);
		transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	&__description {
		width: calc(100% - 123px);
		font-size: 1.4rem;
		font-weight: bold;
		line-height: 1.29;
		color: #000000;
		word-wrap: normal;
		margin-left: 15px;
	}
}
