.c-post-tags {
	display: flex;
	flex-wrap: wrap;
	a {
		border: 1px solid #000;
		border-radius: 3rem;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 3px;
		color: #000000;
		text-transform: uppercase;
		padding: 15px 20px;
		margin-right: 15px;
		margin-bottom: 15px;
	}
	@include media-breakpoint-down(sm) {
		justify-content: center;
		a {
			margin: 0 5px 10px 5px;
		}
	}
}
