%wrap-banner {
	width: 100%;
	display: flex;
	justify-content: center;
}

%caption {
	margin-top: 2rem;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	color: #bebebe;
}

.c-post-content {
	h2,
	h3,
	h4,
	ul:not(.wp-block-gallery),
	ol {
		margin-bottom: 3rem;
	}

	h2,
	h3,
	h4 {
		margin-top: 3rem;
		font-weight: bold;
		color: #000;
	}

	h2 {
		font-size: 4rem;
	}

	h3 {
		font-size: 3rem;
	}

	h4 {
		font-size: 2rem;
	}

	p,
	li {
		font-size: 1.8rem;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.94;
		letter-spacing: normal;
		color: #333;
	}

	p a,
	li a {
		text-decoration: underline;
		color: #ff8282;
	}

	ul:not(.wp-block-gallery),
	ol {
		padding-left: 2rem;
	}

	ul:not(.wp-block-gallery) {
		list-style-type: disc;
	}

	p {
		padding: 1.5rem 0;
	}

	img {
		padding: 3rem 0;
	}

	blockquote {
		width: 100%;
		font-family: $font-fixed;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center !important;
		color: #333333;
		padding: 6rem 0;

		p {
			padding: 0;
			font-size: 4.5rem;
			line-height: 1.33;
		}

		cite {
			display: block;
			margin-top: 1.5rem;
			font-size: 1.8rem;
		}
	}

	.c-social {
		justify-content: flex-end;
	}

	#tags-social {
		margin-top: 2.5rem;
		align-items: baseline;
	}

	#outdoor-duplo {
		@extend %wrap-banner;
		padding: 6rem 0;
	}

	#banner-large {
		@extend %wrap-banner;
		padding: 4rem 0;
		display: none;
	}

	// Wordpress blocks
	.wp-block-image,
	.blocks-gallery-item {
		margin: 3rem 0;

		img {
			display: block;
			max-width: 100%;
			margin: 0 auto;
			padding: 0;
		}

		figcaption {
			margin-top: 2rem;
			font-size: 14px;
			line-height: 1.07;
			color: #666666;
		}
	}

	.block-related-link {
		margin: 2.5rem 0;

		a {
			font-size: 2rem;
			font-weight: bold;
			color: #2896c8;
		}
	}

	@include media-breakpoint-down(sm) {
		//padding: 2rem 0;
		h2 {
			font-size: 2rem;
		}

		p {
			font-size: 1.4rem;
			padding: 8px 0;
		}

		li {
			font-size: 1.4rem;
		}

		img {
			padding: 2rem 0;
		}

		blockquote {
			padding: 3rem 0;

			p {
				font-size: 3rem;
			}
		}

		.c-social {
			margin-top: 4rem;
			justify-content: center;
		}

		#tags-social {
			margin-top: 2rem;
		}

		#outdoor-duplo {
			display: none;
		}

		#banner-large {
			display: flex;
		}
	}
}
