.c-post-author {
	display: flex;
	align-items: center;
	&__img {
		width: 40px;
		height: 40px;
		border-radius: 20px;
		overflow: hidden;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__content {
		@extend %author-post;
		margin-left: 15px;
		margin-top: 0;
	}
	&__txt {
		font-size: 14px;
		line-height: 1.29;
		color: #666666;

		span {
			color: #000000;
		}
	}
}
