.c-post-header {
	h1 {
		font-size: 6rem;
		font-weight: bold;
		color: #000;
		margin-bottom: 20px;
	}
	h4 {
		font-size: 2rem;
		font-weight: normal;
		color: #000000;
	}
	&__content {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		margin-top: 30px;
	}
	&__sponsored {
		margin-top: 20px;
		display: none;
	}

	@include media-breakpoint-down(sm) {
		h1 {
			font-size: 2.5rem;
			margin-bottom: 15px;
		}
		h4 {
			font-size: 1.6rem;
		}
		#social {
			display: none;
		}
		&__sponsored {
			display: block;
		}
	}
}
