.c-post-sponsored {
	display: flex;
	align-items: center;
	&::before {
		content: 'sponsored by';
		font-size: 0.8rem;
		letter-spacing: 3px;
		color: #000000;
		text-transform: uppercase;
		margin-right: 15px;
	}
	&__img {
		width: 110px;
		height: 50px;
		background-color: #eee;
	}
	@include media-breakpoint-down(sm) {
		flex-direction: column;
		&__img {
			margin-top: 10px;
			// width: 300px;
		}
	}
}
