.c-input-daterange {
	position: relative;
	background: #000;
	padding: 0 32px 0 15px;
	height: 40px;

	&:after {
		content: '\e812';
		font-family: $font-icon;
		font-size: 12px;
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		pointer-events: none;
		color: #fff;
		text-align: center;
		line-height: 25px;
		background: #313131;
	}

	> input {
		// @include text-small();
		width: 100%;
		display: block;
		border: none;
		font-size: 0.9rem;
		font-weight: bold;
		line-height: 3.8rem;
		letter-spacing: 0.15rem;
		text-transform: uppercase;
		color: #fff;
		background: transparent;
		appearance: none;

		&::placeholder {
			font-size: 1rem;
			letter-spacing: 0.3rem;
			color: #fff;
		}
	}
}
