.l-box-search {
	display: none;
	z-index: 99;
	position: absolute;
	width: 100%;
	padding: 4rem 4% 5rem;
	top: 60px;
	left: 0;
	background-color: #242424;

	@include media-breakpoint-up(lg) {
		top: 102px;
		padding-left: 5%;
		padding-right: 5%;

		&:before {
			right: 5%;
		}
	}
}
