.l-footer {
	padding: 4rem 0;
	background: #000 url(../img/layout/bg-footer.svg) no-repeat center;
	background-size: cover;

	&__item {
		margin-bottom: 2rem;
	}

	@include media-breakpoint-up(md) {
		padding: 6rem 0;
	}
}
