.l-header {
	z-index: 100;
	position: fixed;
	display: flex;
	width: 100%;
	height: 6rem;
	padding: 1.5rem 1rem;
	top: 0;
	align-items: center;
	background-color: #000;
	transition: 0.5s;

	&__wrapper {
		display: flex;
		align-items: center;
		width: 100%;
	}

	&__brand {
		margin: 0 auto;
	}

	&__options {
		margin-left: 3rem;
	}

	&__controls {
		margin-left: auto;
	}

	&.is-unpinned {
		transform: translateY(-100%);
	}

	@include media-breakpoint-up(lg) {
		height: 10.2rem;
		padding: 2.5rem 3.5rem;

		&__brand {
			margin: 0;
		}
	}

	@include media-breakpoint-up(xxl) {
		padding: 2.5rem 8rem;
	}
}
