.l-main {
	max-width: 1440px;
	min-height: calc(100vh - 690px);
	margin: 0 auto;
	background-color: #fff;

	&.is-center {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
	}

	&.is-full {
		max-width: 100%;
	}

	&.is-dark-gray {
		background-color: #191919;
	}

	&.is-dark {
		background-color: #000;
	}
}
