.l-menu-mobile {
	display: none;
	z-index: 4;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 60px;
	left: 0;

	&__wrapper {
		overflow: auto;
		height: calc(100vh - 6rem);
		padding: 2rem 4% 3.5rem;
		background-color: #242424;
	}

	&__item {
		margin-bottom: 3rem;
	}

	@include media-breakpoint-up(lg) {
		display: none !important;
	}
}
