.js-toggle-filters {
	display: none;
}
.pos-relative {
	position: relative;
}

@media (max-width: 992px) {
	.js-toggle-filters {
		display: block;
		width: 30px;
		height: 30px;
		background: url(../img/layout/icon-filter.svg) no-repeat center;
		background-size: 75%;
		position: absolute;
		top: 0;
		right: 15px;
	}
	.js-filters {
		max-width: 100%;
		flex: 100%;
		height: 0;
		overflow: hidden;

		&.open {
			padding-top: 20px;
			height: auto;
		}
	}
}

@media (max-width: 575px) {
	.js-filters {
		.col-4,
		.col-6,
		.col-8 {
			max-width: 100%;
			flex: 100%;
			margin-bottom: 10px;

			&:last-of-type {
				margin: 0;
			}
		}
	}
}
