.um-modal {
	#um_upload_single {
		.um-modal-header {
			text-align: center;
			background: #161616;
			border-radius: 0;
			font-family: $font-fixed;
			font-size: 4rem;
			font-weight: bold;
			line-height: 1.2;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			padding: 50px 0;
		}
		.um-modal-body {
			background: #161616;
			.um-faicon-camera:before {
				color: #fff;
			}
			.ajax-upload-dragdrop {
				.str {
					font-size: 1.4rem;
					color: #fff;
					text-transform: uppercase;
				}
				.upload {
					cursor: pointer !important;
					line-height: 34px !important;
					width: 100%;
					height: 34px;
					display: inline-block;
					text-decoration: none;
					background: #fff;
					color: #000;
					border-radius: 0;
					padding: 0 20px;
					color: #000;
					vertical-align: middle;
					font-size: 14px;
					box-sizing: border-box;
					transition: 0.2s;
					text-transform: uppercase;
					font-size: 1rem;
					font-weight: 700;
					letter-spacing: 3px;
				}
			}
		}
		.um-modal-footer {
			.um-modal-right {
				.um-modal-btn {
					border-radius: 0 !important;
					text-transform: uppercase;
					background: #000;
					font-size: 1rem;
					font-weight: 700 !important;
				}
				.um-modal-btn.disabled {
					background: #999;
				}
				.um-modal-btn.alt {
					background: #fff;
				}
			}
		}
	}
}
