.l-page-sugest {
	padding-bottom: 6rem;

	@include media-breakpoint-up(md) {
		&__wrapper {
			max-width: 645px;
		}
	}

	@include media-breakpoint-up(lg) {
		&__wrapper {
			max-width: 870px;
		}
	}
}
