.l-page-post {
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 3rem;
	}
	.c-post-header,
	.c-post-content {
		margin-bottom: 5rem;
	}
	@include media-breakpoint-down(sm) {
		.c-post-header,
		.c-post-content {
			margin-bottom: 3rem;
		}
		&__top {
			margin-bottom: 2rem;
			.c-post-sponsored {
				display: none;
			}
		}
	}
}
