.webview {
	.l-page-post__top {
		@include media-breakpoint-down(sm) {
			display: block;
		}
	}

	.c-post-sponsored {
		display: flex !important;

		img {
			margin-top: 0;
		}

		@include media-breakpoint-down(sm) {
			margin-top: 25px;
			align-items: baseline;

			&:before {
				margin-bottom: 5px;
			}
		}
	}
}
