.l-page-category-listing {
	.c-breaking-news,
	.c-all-stories {
		margin-top: 30px;
	}
	.c-all-stories__bt-load {
		display: block;
	}
	padding-bottom: 30px;

	&__item {
		height: calc((100vh - 100px) / 2);
	}

	@include media-breakpoint-down(md) {
		&__item {
			height: auto;
		}
	}
}

.row.title-filter {
	align-items: center;

	@include media-breakpoint-down(sm) {
		display: block;

		.col-8 {
			max-width: 100%;
		}

		.col-4 {
			max-width: 100%;
			margin-top: 20px;
		}
	}
}
