.l-page-list {
	min-height: 65rem;
	padding-bottom: 5rem;

	&__results {
		.row > * {
			margin-bottom: $grid-gutter-width;
		}
	}

	.c-bt-load {
		margin-bottom: 2rem;
	}

	&--dark {
		background-color: #191919;
	}

	@include media-breakpoint-up(md) {
		.bt-load {
			margin-bottom: 0;
		}
	}
}

.js-posts-list.loading {
	opacity: 0.5;
	pointer-events: none;
}
