%buttonFormat {
	border-radius: 0 !important;
	font-size: 1rem;
	letter-spacing: 0.3rem;
	font-weight: 700 !important;
	text-transform: uppercase !important;
}

.l-page-form {
	flex-basis: 100%;
	background-color: #000;

	.container {
		max-width: 575px;
		padding: 4rem 3rem;
		background-color: #161616;
		.um .um-form input[type='text'],
		.um .um-form input[type='password'] {
			border: 1px solid #fff !important;
			border-radius: 0 !important;
			font-size: 1.4rem !important;
			// font-weight: 700 !important;
			// letter-spacing: 3px !important;
			// text-transform: uppercase;
			color: #fff !important;
			padding: 1.9rem 1.3rem !important;
			background: transparent;
			&:focus {
				border: 1px solid #fff !important;
				background: transparent;
			}
		}
		.um-field-label label {
			font-size: 1rem !important;
			font-weight: 700 !important;
			letter-spacing: 3px !important;
			text-transform: uppercase;
			color: #fff;
		}
		.um input.um-button {
			@extend %buttonFormat;
			background: #fff;
			color: #000;
			&:hover {
				background: #000;
				color: #fff;
			}
		}
		a.um-button {
			@extend %buttonFormat;
			background: #000;
			color: #fff;
			&:hover {
				background: #fff;
				color: #000;
			}
		}
		.um-field-checkbox-option,
		a.um-link-alt {
			font-size: 1rem;
			font-weight: 700;
			letter-spacing: 3px;
			text-transform: uppercase;
			color: #fff !important;
		}
		.um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i {
			color: #fff;
		}
		.um-field-block {
			font-size: 1.4rem;
			line-height: 1.43;
			letter-spacing: 0.42rem;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
			div {
				text-align: left !important;
			}
		}
		.um-center .um-button {
			width: 100% !important;
		}
	}

	@include media-breakpoint-up(sm) {
		padding: 6rem 0;

		.container {
			padding: 6.5rem;
		}
	}
}
