.l-page-privacy {
	padding: 2rem 1rem 6rem 1rem;

	@include media-breakpoint-up(md) {
		max-width: 615px;
		padding-top: 5rem;
		margin: 0 auto;
	}

	@include media-breakpoint-up(lg) {
		max-width: 817px;
		padding-top: 7rem;
	}
}
