.js-offer-modal-content.js-loading {
	background: #161616 url(../img/layout/loading-wave.svg) no-repeat center;
	background-size: 100% auto;
	min-height: 100px;
	min-width: 200px;
	margin-top: 50px;
	transition: all 200ms ease-out;

	* {
		opacity: 0;
	}
}

.modal #totalpoll {
	.is-screen-results {
		display: none !important;
	}
	.totalpoll-buttons {
		.totalpoll-buttons-results {
			display: none;
		}
		.totalpoll-buttons-vote {
			width: 95.6%;
			height: 50px;
			margin: 0 auto !important;
			padding: 0 !important;
			background: #fff !important;
			color: #000 !important;
			border-color: #fff !important;
			font-size: 1rem !important;
			font-weight: bold !important;
			letter-spacing: 0.3rem !important;
			text-transform: uppercase !important;
			line-height: 50px !important;

			&:hover {
				background: #ffaa3c !important;
				border-color: #ffaa3c !important;
			}
		}
	}

	.totalpoll-question-container {
		.totalpoll-question-content p {
			font-size: 2rem;
			font-weight: bold;
			text-transform: none;
			line-height: 1.25;
			letter-spacing: normal;
			background-image: linear-gradient(to right, #ffaa3c, #ffce8e);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin-bottom: 4.5rem !important;
			text-align: center;
		}
	}
}
