.l-page-settings {
	margin-bottom: 5rem;

	.um-profile-edit.um-profile-headericon {
		display: none;
	}
	.um-header {
		padding: 0;
		border-bottom: 0;
	}
	.um-account-side.account-tabs {
		float: none;
		width: auto;
		padding: 0;
	}
	.um-account-side.account-tabs li {
		display: inline-block;
		background: none;

		a {
			&:hover {
				transition: all 250ms ease-out;
			}
			span {
				font-weight: bold;
			}
		}
	}

	.um-header.no-cover a.um-profile-photo-img {
		border-radius: 100%;
		overflow: hidden;
		padding: 0;
	}
	.um-account-heading {
		display: none;
	}

	.um-notice {
		padding: 10px 13px !important;

		&.success {
			background: #000;
		}

		i {
			top: 0;
		}
	}

	.um-account-main {
		&.notifications {
			padding-top: 70px;

			hr {
				border-color: #e1e1e1;
			}

			.um-field:first-of-type,
			.um-field-label {
				display: none;
			}
		}
	}

	@media screen and (max-width: 992px) {
		.um-profile-photo {
			width: 150px;
		}
	}

	@media screen and (max-width: 768px) {
		.c-contact-form__file {
			width: auto;
			margin-bottom: 3rem !important;
		}

		.um-account-side.account-tabs {
			margin-bottom: 3rem;

			ul {
				text-align: center;

				a {
					font-size: 9px;
					margin: 0 0.3rem;
					padding: 0.8rem;

					span {
						padding: 0;
						line-height: inherit;
						color: #000;
						font-weight: bold;
					}
				}
			}
		}
	}

	@media screen and (max-width: 430px) {
		.um-account-side.account-tabs li {
			display: block;
			margin-bottom: 5px !important;

			a span {
				width: 100%;
			}
		}
	}
}
