$className: c-card-hero-category;

.#{$className} {
	@extend %card-entry;
	display: block;
	padding-bottom: 500px;

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&__wrapper {
		@extend %card-entry__wrapper;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
	}
	&__tag {
		@extend %card-entry__tag;
		padding: 5px 10px;
	}
	&__title {
		@extend %card-entry__title;
	}
	&__bt {
		@extend %card-entry__bt;
	}
	&__author {
		@extend %author-post;
		opacity: 0;
		transition: 0.45s ease-out;
		transform: translateY(20px);
		&__txt {
			@extend %author-post__txt;
			font-size: 1rem;
			line-height: 1.5;
			color: #6d6d6d;
			strong {
				color: #fff;
			}
		}
	}
	&:hover {
		.#{$className}__author {
			opacity: 1;
			transition: 0.45s ease-out;
			transform: translateY(0px);
		}
	}

	@include media-breakpoint-up(md) {
		padding-bottom: calc(100vh - 100px);
		@include card-entry-breakpoint-up($className, 'md');
	}

	@include media-breakpoint-up(lg) {
		&:hover {
			.#{$className}__img {
				display: block;
				transform: scale(1.2);
			}
		}

		@include card-entry-breakpoint-up($className, 'lg');
	}

	@include media-breakpoint-up(xxl) {
		padding-bottom: 90rem;
		height: auto;
	}
}
