.c-hero-category {
	position: relative;
	&__title {
		font-family: $font-fixed;
		font-size: 9rem;
		font-weight: bold;
		line-height: 1.33;
		text-transform: uppercase;
		position: absolute;
		top: 5rem;
		left: 3.5rem;
		z-index: 2;
		color: #fff;
		@extend %cat-font-color;
	}
	.c-item-list-hero {
		min-height: 230px;
		height: calc(90rem / 3);
	}

	@include media-breakpoint-down(xl) {
		.c-item-list-hero {
			height: calc((100vh - 100px) / 3);
		}
	}

	@include media-breakpoint-down(lg) {
		&__title {
			font-size: 5rem;
		}
	}

	@include media-breakpoint-down(md) {
		&__title {
			font-size: 5rem;
		}
		.c-item-list-hero {
			height: 270px;
		}
	}

	@include media-breakpoint-down(sm) {
		&__title {
			font-size: 4rem;
		}
	}
}
