.c-item-list-hero {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	transition: 0.3s ease-in-out;
	padding: 0 40px;
	& > * {
		margin-bottom: 2rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__tag {
		@extend %card-entry__tag;
		display: block;
		align-self: flex-start;
	}
	&__date {
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 3px;
		color: #c4c4c4;
	}
	&__title {
		font-size: 2.5rem;
		font-weight: bold;
		line-height: 1.4;
		color: #000;
		background-image: linear-gradient(to left, #000, #000);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: 0.3s ease-in-out;
	}
	&__bt {
		font-size: 10px;
		font-weight: bold;
		letter-spacing: 3px;
		text-indent: 0.4rem;
		color: #000000;
		text-transform: uppercase;
		border: none;
		display: flex;
		align-items: center;
		border: none;
		&::before {
			content: '\e804';
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-color: #f7f7f7;
			font-family: $font-icon;
			text-align: center;
			color: #000;
			line-height: 4rem;
			margin-right: 15px;
			transition: 0.3s ease-in-out;
		}

		&.is-video {
			&:before {
				content: '\e806';
			}
		}
	}
	&:hover {
		background-color: #f7f7f7;
		transition: 0.3s ease-in-out;
		.c-item-list-hero__title {
			background-image: linear-gradient(to left, #ffaa3c, #ff8282);
			transition: 0.3s ease-in-out;
		}
		.c-item-list-hero__bt {
			&::before {
				color: #fff;
				background-color: #000000;
				transition: 0.3s ease-in-out;
			}
		}
	}
}
