.c-block-two {
	width: 100%;
	height: 900px;
	position: relative;
	&__carousel {
		//width: calc(100% - 510px);
		width: 60%;
		height: 900px;
		.owl-dots {
			position: absolute;
			bottom: 6rem;
			right: 10rem;
			font-size: 0;

			@extend %owl-dot;
		}
	}
	&__col-right {
		width: 100%;
		height: 900px;
		position: absolute;
		top: 0;
		right: 0;
	}
	&__img-top {
		//width: 695px;
		width: 50%;
		height: 50%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 3;
	}
	&__img-bottom {
		//width: 510px;
		width: 40%;
		height: 50%;
		position: absolute;
		bottom: 0;
		right: 0;
	}

	@include media-breakpoint-down(lg) {
		height: auto;
		display: flex;
		flex-direction: column-reverse;
		&__col-right {
			width: 100%;
			height: auto;
			position: inherit;
			display: flex;
		}
		&__img-top,
		&__img-bottom {
			width: 50%;
			height: 530px;
			position: inherit;
			z-index: 0;
		}
		&__carousel {
			width: 100%;
			height: 900px;
			.owl-dots {
				text-align: center;
				top: 3rem;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	@include media-breakpoint-down(sm) {
		&__col-right {
			flex-direction: column;
		}
		&__img-top,
		&__img-bottom {
			width: 100%;
			height: 380px;
		}
		&__carousel {
			height: 380px;
		}
	}
}
