/* @override http://neu.weingut-meyerhof.de/inhalte/erweiterungen/wp-media-folder/assets/css/jaofiletree.css?ver=3.5.5 */

#jao{
    border-left: 2px solid #666;
    padding: 10px 10px 10px 10px;
    background: #FAFAFA;
    min-height: 98px;
    max-height: 400px;
    overflow: auto;
    float: left;
    width: 210px;
    margin: 10px 0 10px 10px;
    resize: horizontal;
}

#wpmfjaoassign{
    border-left: 2px solid #666;
    padding: 10px 10px 10px 10px;
    background: #FAFAFA;
    min-height: 98px;
    max-height: 400px;
    overflow: auto;
    float: left;
    width: 95%;
    margin: 0;
}

.media-frame-menu .media-menu #jao , .media-frame-menu .media-menu #wpmfjaoassign {
    width: 100%;
    padding: 10px 0 10px 0;
    margin: 0;
    border-left: 0;
    border-right: 0;
}

.upload-php #jao {
    /*width: 18%;*/
    margin: 10px 0 10px 10px;
}

.wp-customizer #jao {
    width: 220px;
    margin: 10px 0 10px 10px;
}

ul.jaofiletree {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    margin: 0;
}

ul.jaofiletree li {
    list-style: none;
    padding: 0 0 0 8px;
    margin: 0;
    white-space: nowrap;
    background: #FAFAFA;
}

ul.jaofiletree li[data-parent_id="0"] {
    list-style: none;
    margin: 0;
    white-space: nowrap;
    position: relative;
}

ul.jaofiletree li ul li {
    list-style: none;
    margin-left: 10px;
    white-space: nowrap;
    background: #FAFAFA;
}

ul.jaofiletree li.drive {
    padding-left: 15px;
}

ul.jaofiletree a {
    color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 0 2px;
}

ul.jaofiletree a.title-folder , .title-wpmfaddFolder {
    top: -2px;
    padding: 0 0 0 5px;
    min-width: 70%;
    transition: all ease 0.2s;
    vertical-align: middle;
    cursor: pointer;
}

ul.jaofiletree a.title-root , .title-wpmfaddFolder {
    min-width: 0;
}

ul.jaofiletree a:hover {}

ul.jaofiletree li.selected > a {
    color: #0085ba;
}

.icon-open-close {
    height: 16px !important;
    width: 10px !important;
    float: left;
}

.jaofiletree .zmdi-folder {
    font-size: 18px;
    margin-top: 0;
    margin-left: 4px;
    color: #888888;
    font-weight: 400;
    vertical-align: middle;
}

.jaofiletree .wpmf-zmdi-folder-open {
    font-size: 18px;
    margin-top: 0;
    margin-left: 4px;
    color: #008EC2;
    font-weight: 400;
    vertical-align: middle;
}

.zmdi-long-arrow-return {
    font-size: 60px!important;
    margin: 10px auto;
    color: #fafafa;
}

.wpmf_icon_createFolder{
    font-size: 60px!important;
    margin: 10px auto;
    color: #fafafa;
}

.title-folder.title-root {
    padding: 0 !important;
}

.wpmf-attachmentdrag {
    width: 115px;
    height: 115px;
    position: relative;
    float: left;
    padding: 0;
    margin: 0 10px 20px;
    color: #464646;
    list-style: none;
    text-align: center;
}

.wpmf-attachmentdrag .wpmf-attachment-preview {
    position: relative;
    width: 120px;
    height: 120px;
    box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1), inset 0 0 0 1px rgba( 0, 0, 0, 0.05);
    background: #eee;
    cursor: pointer;
}

.wpmf-attachmentdrag .wpmf-attachment-preview .zmdi-folder {
    font-size: 60px !important;
    color: #888888;
}

.wpmf-attachmentdrag .wpmf-attachment-preview .filename {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    max-height: 100%;
    word-wrap: break-word;
    text-align: center;
    font-weight: bold;
    background: rgba( 255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.15);
    box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.15);
}

.ui-draggable-dragging.wpmf_draglarge:not(.upload-php .ui-draggable-dragging.wpmf_draglarge) {
    opacity: 1;
}

.wpmfaddFolder {
    vertical-align: middle;
    top: 1px !important;
    margin-top: 1px !important;
    cursor: pointer;
}

.wpmf-zmdi-folder-open:before {
    content: '\f228';
}

.wpmf_checkbox_tree{
    margin:0;
    vertical-align: middle
}

.wpmf-folder-tree .foldershow {
    display: block;
}

.wpmf-folder-tree .folderhide {
    display: none;
}