.custom-admin-content .content-wrapper {
	padding: 15px 20px;
	max-width: 1200px;
}

.custom-admin-content .ad-slot {
	margin-bottom: 25px;
}

.custom-admin-content .ad-slot.empty {
	opacity: 0.7;
}

.custom-admin-content .ad-slot label {
	display: block;
}

.custom-admin-content .ad-slot textarea {
	width: 400px;
	height: 100px;
	margin-top: 8px;
}
