#push_notification_meta_box .obs {
	font-size: 11px;
}

#push_notification_meta_box .alert {
	color: red;
	font-size: 110%;
	padding: 5px 0 15px;
}

#push_notification_meta_box .already-sent {
	color: green;
	padding: 5px 0 15px;
}

#push_notification_meta_box input {
	width: 400px;
	margin-top: 8px;
}
#push_notification_meta_box select {
	width: 400px;
	margin-top: 8px;
}

#push_notification_meta_box textarea {
	width: 400px;
	height: 100px;
	margin-top: 8px;
}

.disabled-submit {
	pointer-events: none !important;
	background-color: #827e7e !important;
	color: #0e0e0e !important;
	border-color: #0e0e0e !important;
	text-shadow: none !important;
	box-shadow: none !important;
	opacity: 0.3 !important;
}

.error {
	border-color: red !important;
}
