@font-face {
	font-family: 'Tusker Grotesk';
	src: url('../fonts/tusker-grotesk-4700-bold.woff2') format('woff2'), url('../fonts/tusker-grotesk-4700-bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
