html {
	font-size: 62.5%;
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(#000, 0);
}

body {
	font-family: $font-sans-serif;
	font-size: 1.8rem;
	color: #000;
	background: #fff;
	overscroll-behavior-y: none;

	&.normal {
		padding-top: 6rem;

		@include media-breakpoint-up(lg) {
			padding-top: 10.2rem;
		}
	}

	&.home,
	&.is-dark {
		background-color: #000;
	}
}

a {
	color: inherit;
}

button {
	border: 0;
	padding: 0;
	background-color: transparent;
	user-select: none;
	cursor: pointer;
}
