@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?35017944');
	src: url('../fonts/fontello.eot?35017944#iefix') format('embedded-opentype'), url('../fonts/fontello.woff2?35017944') format('woff2'), url('../fonts/fontello.woff?35017944') format('woff'), url('../fonts/fontello.ttf?35017944') format('truetype'),
		url('../fonts/fontello.svg?35017944#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-size: 1.5rem;
}

[class^='icon-']:before,
[class*=' icon-']:before {
	@include text-icon();
}

.icon-plus:before {
	content: '\e800';
}
.icon-search:before {
	content: '\e801';
}
.icon-signup:before {
	content: '\e802';
}
.icon-more:before {
	content: '\e803';
}
.icon-arrow-right:before {
	content: '\e804';
}
.icon-bookmark-white:before {
	content: '\e805';
}
.icon-play:before {
	content: '\e806';
}
.icon-forward:before {
	content: '\e807';
}
.icon-back-in-time:before {
	content: '\e808';
}
.icon-close:before {
	content: '\e809';
}
.icon-clock:before {
	content: '\e80a';
}
.icon-pin:before {
	content: '\e80b';
}
.icon-article:before {
	content: '\e80c';
}
.icon-calendar:before {
	content: '\e80d';
}
.icon-suitcase:before {
	content: '\e80e';
}
.icon-upload:before {
	content: '\e80f';
}
.icon-photo:before {
	content: '\e810';
}
.icon-combined-shape:before {
	content: '\e811';
}
.icon-locked:before {
	content: '\e814';
}
.icon-twitter:before {
	content: '\f099';
}
.icon-facebook:before {
	content: '\f09a';
}
.icon-angle-left:before {
	content: '\f104';
}
.icon-angle-right:before {
	content: '\f105';
}
.icon-angle-up:before {
	content: '\f106';
}
.icon-angle-down:before {
	content: '\f107';
}
.icon-youtube-play:before {
	content: '\f16a';
}
.icon-instagram:before {
	content: '\f16d';
}
.icon-calendar-empty:before {
	content: '\e812';
}
