// Typography
$font-fixed: 'Tusker Grotesk', sans-serif;
$font-sans-serif: 'Assistant', sans-serif;
$font-icon: 'fontello';

// Breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 2000px
);

// Bootstrap container
$container-max-widths: (
	sm: 540px,
	md: 830px,
	lg: 960px,
	xl: 1300px
);

// Bootstrap
$spacer: 3rem;
