.custom-scrollbar {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		display: none;
	}

	@include breakpoint(
		(
			pointer: fine
		)
	) {
		&::-webkit-scrollbar-track {
			background-color: #333;
		}
		&::-webkit-scrollbar {
			display: block;
			width: 8px;
			height: 8px;
			background-color: #333;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #666;
		}
	}
}
.lazy {
	background-color: #ccc;
}

.wp-block-embed {
	margin-bottom: 1em;
	&.is-provider-youtube {
		.wp-block-embed__wrapper {
			position: relative;
		}
		.wp-block-embed__wrapper::before {
			content: '';
			display: block;
			padding-top: 56.25%;
		}
		.wp-block-embed__wrapper iframe {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
