%author-post {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	&__txt {
		font-size: 14px;
		line-height: 1.29;
		color: #666;
		// letter-spacing: 2.1px;
		span {
			color: #000000;
		}
	}
}
