@mixin hover-card-more($class) {
	.#{$class}__thumb {
		transform: scale(1.2);
		transition: 0.3s ease-in-out;
	}
	.#{$class}__description {
		text-decoration: underline;
	}
}

@mixin breakpoint-card-more-down($class, $value) {
	@if $value = 'sm' {
		flex-direction: row;
		align-items: center;
		> * {
			margin-bottom: 0;
		}
		.#{$class}__wrap_thumb {
			width: 100%;
			margin-right: 20px;
		}
		.#{$class}__thumb {
			width: 100%;
		}
		.#{$class}__author {
			display: none;
		}
	} @else if $value = 'xs' {
		.#{$class}__description {
			font-size: 1.4rem;
		}
	}
}

%card-more {
	width: 100%;
	display: flex;
	flex-direction: column;
	> * {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__wrap_thumb {
		overflow: hidden;
		position: relative;
	}
	&__thumb {
		width: 100%;
		padding-bottom: 70%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transform: scale(1);
		transition: 0.3s ease-in-out;
	}
	&__description {
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.25;
		color: #000000;
	}
	&__author {
		@extend %author-post;
		&__txt {
			@extend %author-post__txt;
		}
	}
}
