@mixin carousel-breakpoint-up($class, $value) {
	@if $value == 'md' {
		padding-top: 6rem;

		.#{$class}__title {
			position: absolute;
			margin: 0;
			top: 3rem;
			left: 3.5rem;
			text-align: left;
			font-size: 5rem;
		}

		// .owl-dots {
		// 	right: 3.5rem;
		// 	left: auto;
		// }
	} @else if $value == 'lg' {
		.#{$class}__title {
			font-size: 9rem;
		}
	} @else if $value == 'xl' {
		padding-top: 8rem;

		.owl-dots {
			top: -5.4rem;
		}
	}
}

%carousel {
	position: relative;
	padding-top: 2rem;
	background-color: #000;

	&__title {
		font-family: $font-fixed;
		font-size: 4rem;
		font-weight: bold;
		line-height: 1.33;
		text-transform: uppercase;
		color: #fff;
		z-index: 3;
		margin-bottom: 4.5rem;
		text-align: center;
		@extend %cat-font-color;
	}

	.owl-dots {
		position: absolute;
		top: -4.5rem;
		left: 50%;
		transform: translateX(-50%);

		@extend %owl-dot;
	}
}
