@mixin card-entry-breakpoint-up($class, $value) {
	@if $value == 'md' {
		position: relative;
		&:before {
			pointer-events: none;
			background-color: rgba(0, 0, 0, 0);
		}
		&:hover {
			&:before {
				background-color: rgba(0, 0, 0, 0.3);
				transition: 0.3s ease-out;
			}
			.#{$class}__tag,
			.#{$class}__title,
			.#{$class}__bt {
				opacity: 1;
				transform: translateY(0);
			}
		}
		.#{$class}__wrapper {
			padding: 3rem 3.5rem;
		}

		.#{$class}__tag,
		.#{$class}__title {
			opacity: 0;
			transition: 0.45s ease-out;
			transform: translateY(20px);
		}

		.#{$class}__bt {
			transform: translateY(20px);
			transition: 0.45s ease-out;
		}
	} @else if $value == 'lg' {
		.#{$class}__wrapper {
			padding: 4rem 3.5rem;
		}
		.#{$class}__title {
			font-size: 4rem;
		}
	}
}

%card-entry {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	&:before {
		content: '';
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		transition: 0.3s ease-out;
		pointer-events: none;
	}

	> img {
		display: block;
		width: 100%;
	}
	&__wrapper {
		pointer-events: none;
		z-index: 3;
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 3rem 1rem;
	}
	&__tag {
		display: inline-block;
		margin-bottom: 1rem;
		padding: 0.8rem 1.2rem;
		font-size: 8px;
		font-weight: bold;
		letter-spacing: 0.3rem;
		text-transform: uppercase;
		background-color: #000;
		color: #fff;
		@extend %cat-bg-color;
	}
	&__title {
		max-width: 920px;
		margin-bottom: 2rem;
		font-family: $font-sans-serif;
		font-size: 2rem;
		line-height: 1.25;
		color: #fff;
	}
	&__bt {
		font-family: $font-sans-serif;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 0.3rem;
		text-transform: uppercase;
		display: inline-flex;
		align-items: center;
		color: #fff;
		background-color: transparent;
		padding: 0;

		&:before {
			font-family: $font-icon;
			content: '\e804';
			display: flex;
			align-items: center;
			justify-content: center;
			width: 4rem;
			height: 4rem;
			margin-right: 1.5rem;
			border-radius: 50%;
			color: #fff;
			letter-spacing: normal;
			background-color: rgba(#fff, 0.3);
		}
		&.is-video {
			&:before {
				content: '\e806';
			}
		}
	}
}
