%card_more {
	width: 100%;
	display: flex;
	flex-direction: column;
	> * {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__wrap_thumb {
		overflow: hidden;
		position: relative;

		&.is-video {
			position: relative;
			color: #fff;

			&:before {
				content: '\e806';
				z-index: 2;
				position: absolute;
				display: block;
				width: 4rem;
				height: 4rem;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin-right: 1.5rem;
				border-radius: 50%;
				line-height: 4rem;
				text-indent: 0.4rem;
				background-color: rgba(#fff, 0.3);
			}
		}
	}
	&__thumb {
		width: 100%;
		padding-bottom: 70%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transform: scale(1);
		transition: 0.3s ease-in-out;
	}
	&__description {
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.25;
		color: #000000;
	}
	&__author {
		@extend %author-post;
		&__txt {
			@extend %author-post__txt;
		}
	}
}

@mixin card-more($class) {
	@extend %card_more;
	&__wrap_thumb {
		@extend %card_more__wrap_thumb;

		&:before {
			@include text-icon();
		}
	}
	&__thumb {
		@extend %card_more__thumb;
	}
	&__description {
		@extend %card_more__description;
	}
	&__author {
		@extend %author-post;
		&__txt {
			@extend %author-post__txt;
		}
	}
	&:hover {
		.#{$class}__thumb {
			transform: scale(1.2);
			transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
		}
		.#{$class}__description {
			text-decoration: underline;
		}
	}

	@include media-breakpoint-up(md) {
		&__wrap_thumb {
			&.is-video {
				&:before {
					width: 5rem;
					height: 5rem;
					line-height: 5rem;
				}
			}
		}
	}

	@include media-breakpoint-down(sm) {
		flex-direction: row;
		> * {
			margin-bottom: 0;
		}
		&__wrap_thumb {
			width: 14rem;
			margin-right: 20px;
		}
		&__thumb {
			width: 100%;
		}
		&__author {
			display: none;
		}
		&__description {
			width: 16rem;
		}
	}
	@include media-breakpoint-down(xs) {
		&__description {
			font-size: 1.4rem;
		}
	}
}
