$cats: (
	news: #2896c8,
	hot: #ff8282,
	life: #ffaa3c,
	play: #a8a8a8,
	out: #8b77ff,
	offers: #00968c,
	sub-genres: #000000
);

%cat-font-color {
	@each $name, $cat in $cats {
		&.cat-#{$name} {
			color: $cat;
		}
	}
}

%cat-bg-color {
	@each $name, $cat in $cats {
		&.cat-#{$name} {
			background-color: $cat;
		}
	}
}
