%favorite-button {
	display: block;
	width: 100%;
	height: 100%;
	border: solid 1px currentColor;
	border-radius: 50%;
	text-indent: -99rem;
	cursor: pointer;
	transition: 0.3s;

	&:before {
		content: '\e805';
		z-index: 2;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		font-family: $font-icon;
		font-style: normal;
		font-weight: normal;
		display: inline-block;
		text-decoration: inherit;
		text-align: center;
		font-variant: normal;
		text-transform: none;
		line-height: 2em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 1.5rem;
		color: currentColor;
		text-indent: 0;
	}

	&.loading {
		opacity: 0.5;
		pointer-events: none;
	}

	&.active {
		opacity: 1;
		color: #ffaa3c;
		border-color: #ffaa3c !important;

		&:hover {
			border-color: #ffaa3c;
			background-color: #ffaa3c !important;
			color: #000;
		}
	}
}
