//breakpoints mobile first
@mixin list-breakpoint-up($class, $value) {
	@if $value == 'md' {
		.#{$class}__title {
			font-size: 5rem;
		}
		.#{$class}__grid {
			> .row > * {
				margin-bottom: 20px;
			}
		}
		.#{$class}__bt-load {
			display: none;
		}
	} @else if $value == 'lg' {
		.#{$class}__title {
			font-size: 9rem;
		}
	}
}

//remover o codigo acima depois que atualizar as classes que extender desse placeholder

%list-card-more {
	width: 100%;
	position: relative;
	&__title {
		font-family: $font-fixed;
		font-size: 3rem;
		font-weight: bold;
		line-height: 1.33;
		text-transform: uppercase;
	}
	&__grid {
		width: 100%;
		margin-top: 40px;
		> .row > * {
			margin-bottom: 20px;
		}
	}
	&__bt-load {
		width: 100%;
		border: solid 1px #000000;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 3px;
		color: #000000;
		padding: 1.5rem;
		text-transform: uppercase;
		text-align: center;
		display: block;
		margin-top: 20px;
	}
}

@mixin list-card-more() {
	@extend %list-card-more;

	&__title {
		@extend %list-card-more__title;
		color: #000;
		@extend %cat-font-color;
	}
	&__grid {
		@extend %list-card-more__grid;
	}
	&__bt-load {
		@extend %list-card-more__bt-load;
	}

	@include media-breakpoint-up(md) {
		&__title {
			font-size: 5rem;
		}
		&__grid {
			> .row > * {
				margin-bottom: $grid-gutter-width;
			}
		}
		&__bt-load {
			display: none;
		}
	}
	@include media-breakpoint-up(lg) {
		&__title {
			font-size: 9rem;
		}
	}
}
