%owl-dot {
	display: flex;
	width: 100%;
	height: 2rem;
	justify-content: center;
	align-items: center;

	button.owl-dot {
		padding: 0.6rem !important;

		> span {
			display: block;
			width: 0.6rem;
			height: 0.6rem;
			border: solid 1px #ffffff !important;
			border-radius: 50%;
			background-color: #fff !important;
		}

		&.active {
			> span {
				position: relative;
				width: 0.8rem;
				height: 0.8rem;
				background-color: transparent !important;
			}
		}
	}

	@include media-breakpoint-up(md) {
		button.owl-dot {
			padding: 1rem !important;
		}
	}
}
