@mixin custom-icon($color, $icon) {
	content: $icon;
	color: $color;
}
%social {
	display: flex;
	align-items: center;
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.3s ease-in-out;
		&::before {
			content: '\e805';
			font-family: 'fontello';
			font-size: 1.6rem;
			transition: 0.3s cubic-bezier(0.2, 1, 0.3, 1);
		}
		&--fb {
			&::before {
				content: '\f09a';
				font-size: 2rem;
			}
		}
		&--tw {
			&::before {
				content: '\f099';
				font-size: 2rem;
			}
		}
	}
}
