@mixin text-small() {
	font-family: $font-sans-serif;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}

@mixin text-icon() {
	font-family: $font-icon;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin text-headline() {
	font-family: $font-fixed;
	font-size: 4rem;
	font-weight: bold;
	line-height: 1.33;
	text-transform: uppercase;
	color: #fff;

	@include media-breakpoint-up(md) {
		font-size: 5rem;
	}

	@include media-breakpoint-up(lg) {
		font-size: 9rem;
	}
}
