.c-card-all-stories {
	@include card-more(c-card-all-stories);

	&__tag {
		@extend %card-entry__tag;
		align-self: flex-start;
	}

	&__wrap_thumb {
		align-self: flex-start;
	}

	@include media-breakpoint-up(md) {
		&__wrap_thumb {
			align-self: auto;
		}
	}
}
