.c-content.c-about-text {
	display: flex;
	justify-content: space-between;
	max-width: 760px;

	h2 {
		font-size: 90px;
		font-family: $font-fixed;
		text-transform: uppercase;
	}

	p {
		padding-top: 50px;
		max-width: 430px;
		font-size: 30px;
		line-height: 40px;
	}

	@media screen and (max-width: 570px) {
		display: block;

		h2 {
			font-size: 15.6vw;
		}

		p {
			padding-top: 35px;
			font-size: 5.4vw;
			line-height: 7.2vw;
		}
	}
}
