.c-block-videos {
	position: relative;

	&__title {
		@include text-headline();
		z-index: 4;
		position: absolute;
		top: 8rem;
		left: 3.5rem;
	}

	&__one {
		height: 100%;
	}

	@include media-breakpoint-up(lg) {
		&__two,
		&__three {
			height: 400px;
		}
	}
}
