.c-box-info {
	position: relative;
	padding: 3rem 0 0;

	&__tag {
		@extend %card-entry__tag;
	}

	&__title {
		font-size: 25px;
		font-weight: bold;
		line-height: 1.2;
		color: #000;
	}

	&__description {
		margin-bottom: 3.5rem;
		font-size: 1.4rem;
		line-height: 2.14;
		color: #333;
	}

	&__company {
		margin: 3rem 0 -2rem;
		font-size: 0.9rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.24rem;
		color: #7b7b7b;

		a {
			transition: all 250ms ease-out;

			&:hover {
				color: #000;
			}
		}
	}

	&__location {
		margin: 3rem 0;
		font-size: 1.4rem;
		color: #bebebe;
	}

	&__meta {
		position: relative;
		margin-top: 2rem;
		padding-top: 1.4rem;
		padding-left: 5rem;

		&:before {
			@include text-icon();
			position: absolute;
			width: 4rem;
			height: 4rem;
			top: 0;
			left: 0;
			display: block;
			border-radius: 50%;
			border: solid 1px #000;
			margin-left: 0;
			font-size: 2.5rem;
			line-height: 4rem;
		}

		&--time {
			&:before {
				content: '\e80a';
			}
		}

		&--location {
			&:before {
				content: '\e80b';
			}
		}
	}

	&__meta-title {
		@include text-small();
		font-size: 0.9rem;
		line-height: 1.2;
		margin-bottom: 1rem;
	}

	&__meta-description {
		font-size: 1rem;
		line-height: 2;
		color: #515151;

		> a {
			text-decoration: underline;
		}
	}

	&__deal {
		margin: 0.8rem 0 1.5rem;
		font-size: 1.4rem;
		color: #bebebe;

		> strong {
			color: #000;
			font-weight: normal;
		}
	}

	&__offer {
		font-size: 1.4rem;
		line-height: 1.43;
		color: #333;
	}

	&__price {
		display: flex;
		align-items: center;
		margin-top: 2.5rem;
	}

	&__price-off {
		width: 90px;
		height: 30px;
		margin-right: 1.5rem;
		padding: 1rem 1.6rem;
		font-size: 0.8rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.24rem;
		text-align: center;
		color: #000;
		background-color: #e1e1e1;
	}

	&__price-old {
		margin-right: 0.6rem;
		font-size: 1rem;
		color: #a9a9a9;
	}

	&__price-current {
		font-size: 2.5rem;
		font-weight: bold;
		color: #ff8282;
	}

	&__bt-offer {
		display: block;
		width: 100%;
		margin-top: 3rem;
		padding: 2rem;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 0.3rem;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		background-color: #ff8282;
	}

	.c-social {
		display: flex;
		justify-content: center;
		margin-top: 2.5rem;
	}

	@include media-breakpoint-up(md) {
		padding: 0 4rem 0 0;

		&__content {
			max-width: 320px;
		}

		&__meta {
			margin-top: 0;
		}

		&__price-old {
			font-size: 1.4rem;
		}

		&__price-current {
			font-size: 3rem;
		}

		.c-social {
			position: absolute;
			flex-direction: column;
			margin-top: 0;
			top: 0;
			right: 0;
		}
	}

	@include media-breakpoint-up(lg) {
		position: relative;

		&__content {
			max-width: 500px;
		}

		&__title {
			font-size: 4rem;
			line-height: 1.13;
		}

		&__description {
			font-size: 1.6rem;
			line-height: 1.56;
		}

		&__meta-title {
			font-size: 1rem;
		}

		&__meta-description {
			font-size: 1.4rem;
			line-height: 1.79;
		}

		&__bt-offer {
			margin-top: 4rem;
		}
	}
}
