.c-button {
	@include text-small();
	display: inline-block;
	padding: 2rem 1.2rem;
	border: 1px solid transparent;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	background-color: #000;

	&--icon {
		display: inline-flex;
		justify-content: center;
		align-content: center;
		width: 3rem;
		height: 3rem;
		padding: 0;
		color: #fff;

		.icon {
			&:before {
				margin-left: 0.2em;
			}
		}
	}

	&--negative {
		color: #000;
		background-color: #fff;
		border-color: #fff;
	}

	&--secondary {
		color: #fff;
		background-color: #3d3d3d;
	}

	&--circle {
		border-radius: 50%;
	}

	&--full {
		width: 100%;
	}
}
