.c-bt-apply {
	@include text-small();
	display: block;
	padding: 2rem 0;
	width: 100%;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	background-image: linear-gradient(to right, #2896c8, #a5e3ff);
}
