.c-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	color: #fff;
	overflow: hidden;

	&__close {
		position: absolute;
		width: 20px;
		height: 20px;
		padding: 0;
		top: 20px;
		right: 20px;
		border-radius: 50%;
		border: solid 1px #fff;

		&:before {
			@include text-icon();
			content: '\e809';
			position: relative;
			top: -4px;
			font-size: 0.8rem;
			color: #fff;
		}
	}
}
