$name: 'c-block-highlights';

.#{$name} {
	overflow: hidden;
	background-color: #000;

	&__full {
		height: 350px;
	}

	&__full-item {
		opacity: 0;
		height: 100%;
		transition: 1s 1s opacity;
	}

	&__progress {
		overflow: hidden;
		width: 0;
		height: 2px;
		background-color: #ff4b49;
		background-image: linear-gradient(to left, #ffaa3c, #ff4b49);
	}

	&__thumbs-list {
		display: flex;
		align-items: center;
		padding: 2.5rem 1rem;
		background-color: #000000;
	}

	&__thumb {
		flex-shrink: 0;
		width: 300px;
	}

	.owl-carousel {
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s;

		&.owl-loaded {
			opacity: 1;
			visibility: visible;

			.#{$name}__full-item {
				opacity: 1;
			}
		}
	}

	.owl-stage-outer,
	.owl-stage,
	.owl-item {
		height: 100%;
	}

	@include media-breakpoint-up(md) {
		&__full {
			min-height: 430px;
			height: calc(100vh - 270px);
		}

		&__thumbs-list {
			padding: 4rem 5rem;
		}
	}

	@include media-breakpoint-up(lg) {
		&__full {
			height: calc(100vh - 292px);
		}

		&__thumbs-list {
			padding: 3.5rem;
		}
	}

	@include media-breakpoint-up(xl) {
		&__thumb {
			@include make-col(3);
			width: auto;
		}
	}

	@include media-breakpoint-up(xxl) {
		&__full {
			height: 90rem;
		}
	}
}

@include media-breakpoint-up(lg) {
	.#{$name}__full {
		&:before {
			content: '';
			z-index: 2;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #000;
			transition: 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
		}

		&:before {
			transform: translate(100%, 0);
		}
	}

	.#{$name}__full {
		&.is-animated {
			&:before {
				transform: translate(0, 0);
			}
		}
	}
}
