.c-badge {
	width: 10rem;
	height: 10rem;
	margin: 0 auto;
	border: solid 1px #fff;
	border-radius: 50%;
	text-align: center;
	color: #fff;

	&::before {
		@include text-icon();
		font-size: 5rem;
	}

	&--locked {
		&::before {
			content: '\e814';
		}
	}
}
