.c-button-menu {
	display: inline-flex;
	justify-content: center;
	align-content: center;
	width: 3rem;
	height: 3rem;
	padding: 0;
	font-size: 1.5rem;
	text-align: center;
	color: #fff;

	&:before {
		@include text-icon();
		content: '\e803';
		margin-left: 0;
		line-height: 3rem;
	}

	&.is-open {
		&:before {
			content: '\e809';
		}
	}
}
