.c-bt-load {
	display: block;
	cursor: pointer;
	width: 100%;
	margin-top: 20px;
	padding: 1.5rem;
	border: solid 1px #000000;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 3px;
	color: #000000;
	text-align: center;
	text-transform: uppercase;

	&.loading {
		pointer-events: none;
		cursor: default;
	}

	&.hidden {
		display: none;
		pointer-events: none;
	}

	&--outline {
		color: #fff;
		border-color: #fff;
	}
}
