.c-breadcrumb {
	display: flex;
	align-items: center;

	&__item {
		font-size: 0.8rem;
		font-weight: bold;
		letter-spacing: 3px;
		padding: 6px 15px;
		text-transform: uppercase;
		background-color: #000;
		color: #fff;
		@extend %cat-bg-color;

		&--subcategory {
			color: #000;
			padding: 6px 10px;
			background-color: transparent;

			&::before {
				content: '/';
				margin-right: 5px;
			}
		}

		&--country {
			color: #000;
			padding: 6px 10px 6px 0;
			background-color: transparent;

			&::after {
				content: '/';
				margin-left: 5px;
			}
		}
	}
}
