.c-card-entry {
	$self: &;

	overflow: hidden;
	position: relative;
	display: block;
	height: 470px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: pointer;

	&:before {
		content: '';
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		pointer-events: none;
	}

	> img {
		display: block;
		width: 100%;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&__wrapper {
		z-index: 3;
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 3rem 1rem;
		pointer-events: none;
	}

	&__tag {
		@extend %card-entry__tag;
	}

	&__title {
		max-width: 920px;
		margin-bottom: 1.5rem;
		font-family: $font-sans-serif;
		font-size: 2rem;
		color: #fff;
	}

	&__bt {
		@include text-small();
		display: inline-flex;
		padding: 0;
		align-items: center;
		color: #fff;
		background-color: transparent;

		&:before {
			@include text-icon();
			content: '\e804';
			display: block;
			width: 4rem;
			height: 4rem;
			margin-right: 1.5rem;
			border-radius: 50%;
			line-height: 4rem;
			text-indent: 0.4rem;
			background-color: rgba(#fff, 0.3);
		}

		&.is-video {
			&:before {
				content: '\e806';
			}
		}
	}

	&--height {
		height: 100%;
		padding-top: 0;
	}

	&--full {
		height: 500px;
		cursor: default;

		> img {
			max-width: none;
			width: auto;
			height: 100%;
		}

		#{$self}__tag {
			margin-bottom: 3.5rem;
		}

		#{$self}__title {
			margin-bottom: 3rem;
			font-family: $font-fixed;
			font-size: 3rem;
			text-transform: uppercase;
		}
	}

	@include media-breakpoint-up(md) {
		height: auto;
		padding-top: 100%;

		&__wrapper {
			padding: 3rem 3.5rem;
		}

		&__tag,
		&__title {
			opacity: 0;
			transition: 0.45s ease-out;
			transform: translateY(20px);
		}

		&__bt {
			transform: translateY(20px);
			transition: 0.45s ease-out;
		}

		&--height {
			height: 100%;
			padding-top: 0;
		}

		&--headline {
			padding-top: 50%;
		}

		&--full {
			height: auto;
			padding-top: 50%;

			> img {
				max-width: none;
				width: 100%;
				height: auto;
			}

			#{$self}__tag,
			#{$self}__title,
			#{$self}__bt {
				opacity: 1;
				transform: none;
			}

			#{$self}__wrapper {
				justify-content: center;
			}

			#{$self}__title {
				font-size: 5rem;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		&:hover {
			#{$self}__img {
				transform: scale(1.2);
			}
		}

		&:before {
			background-color: rgba(0, 0, 0, 0.1);
		}

		&:hover {
			&:before {
				background-color: rgba(0, 0, 0, 0.3);
				transition: 0.3s ease-out;
			}

			#{$self}__tag,
			#{$self}__title,
			#{$self}__bt {
				opacity: 1;
				transform: translateY(0);
			}
		}

		&__wrapper {
			padding: 4rem 3.5rem;
		}

		&--full {
			#{$self}__title {
				font-size: 9rem;
			}
		}
	}

	@include media-breakpoint-up(xl) {
		&--headline {
			height: 100%;
			padding-top: 0;
		}
	}
}
