$name: 'c-call-thumb';

.#{$name} {
	display: flex;
	align-items: center;
	cursor: pointer;

	&__mask {
		overflow: hidden;
	}

	&__img {
		display: block;
		width: 110px;
		height: 110px;
		margin-right: 1.5rem;
		background-color: #333;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&__title {
		width: 14rem;
		margin-bottom: 1.5rem;
		font-family: $font-sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.43;
		color: #fff;
		background-image: linear-gradient(to left, #fff, #fff);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;

		&.is-active {
			background-image: linear-gradient(to left, #ffaa3c, #ff8282);
		}
	}

	&__bt {
		position: relative;
		padding: 10px 0;
		font-family: $font-sans-serif;
		font-size: 0.8rem;
		font-weight: bold;
		letter-spacing: 0.24rem;
		color: #fff;
		text-transform: uppercase;

		&:before {
			@include text-icon();
			content: '\e804';
			display: inline-block;
			width: 10px;
			height: 10px;
			margin-right: 1rem;
		}

		&.is-video {
			&:before {
				content: '\e806';
				position: relative;
				top: 1px;
				font-size: 1rem;
			}
		}
	}

	@include media-breakpoint-up(md) {
		&__img {
			width: 120px;
			height: 120px;
		}
	}

	@include media-breakpoint-up(lg) {
		&:hover {
			.#{$name}__img {
				transform: scale(1.1) translate(-2px, -2px);
			}
		}
	}
}
