$name: 'c-card-video';

.#{$name} {
	overflow: hidden;
	position: relative;
	display: block;
	height: 380px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&:before {
		content: '';
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		pointer-events: none;
	}

	> img {
		display: block;
		width: 100%;
	}

	&__tag {
		@extend %card-entry__tag;
		padding: 5px 10px;
	}

	&__img {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&__wrapper {
		z-index: 3;
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 3rem 1rem;
		pointer-events: none;
	}

	&__date {
		@include text-small();
		display: block;
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-size: 0.8rem;
		color: #fff;
	}

	&__tag {
		@extend %card-entry__tag;
	}

	&__title {
		max-width: 920px;
		margin-bottom: 3.5rem;
		font-family: $font-sans-serif;
		font-size: 1.6rem;
		color: #fff;
	}

	&__bt {
		@include text-small();
		display: inline-flex;
		padding: 0;
		align-items: center;
		color: #fff;
		background-color: transparent;

		&:before {
			@include text-icon();
			content: '\e806';
			display: block;
			width: 4rem;
			height: 4rem;
			margin-right: 1.5rem;
			border-radius: 50%;
			line-height: 4rem;
			text-indent: 0.4rem;
			background-color: rgba(#fff, 0.3);
		}
	}

	.c-social {
		display: none;
	}

	&--bigger {
		height: 500px;
	}

	@include media-breakpoint-up(md) {
		height: auto;
		padding-top: 100%;

		&__date {
			font-size: 1rem;
		}

		&__wrapper {
			padding: 3rem 3.5rem;
		}

		&__tools {
			display: flex;
			justify-content: space-between;
		}

		&--bigger {
			.#{$name}__title {
				font-size: 4rem;
			}

			.c-social {
				display: flex;
				justify-content: space-between;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		height: 100%;
		padding-top: 0;

		&:hover {
			.#{$name}__img {
				transform: scale(1.2);
			}
		}

		&:before {
			background-color: rgba(0, 0, 0, 0.1);
		}

		&:hover {
			&:before {
				background-color: rgba(0, 0, 0, 0.3);
				transition: 0.3s ease-out;
			}

			.#{$name}__date,
			.#{$name}__tag,
			.#{$name}__title,
			.#{$name}__bt,
			.c-social {
				opacity: 1;
				transform: translateY(0);
			}
		}

		&__date,
		&__tag,
		&__title,
		.c-social {
			opacity: 0;
			transition: 0.45s ease-out;
			transform: translateY(20px);
		}

		&__title {
			font-size: 3rem;
		}

		&__bt {
			transform: translateY(20px);
			transition: 0.45s ease-out;
		}

		.c-social {
			display: flex;
			justify-content: space-between;
		}
	}
}
