.c-card-post {
	@include card-more(c-card-post);

	&__wrap_thumb {
		min-width: 138px;
		max-width: 138px;
	}

	&__thumb {
		display: block;
		padding-bottom: 100%;
	}

	&__author {
		display: block;
		margin-top: 1rem;
	}

	&__tag {
		@extend %card-entry__tag;
		padding: 5px 10px;
	}

	&__subdescription {
		margin-top: 1.5rem;
		font-size: 1.6rem;
		line-height: 1.56;
	}

	&__date {
		margin-bottom: 1.6rem;
		font-size: 1rem;
		font-weight: bold;
		color: #ff8282;
		text-transform: uppercase;
	}

	&__company {
		margin: 1rem 0 -1rem;
		font-size: 0.9rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.24rem;
		color: #7b7b7b;
	}

	&__location {
		margin: 1rem 0;
		font-size: 1.4rem;
		color: #bebebe;
	}

	&__event {
		font-size: 0.9rem;
		line-height: 1.56;
		color: #333;
	}

	&__deal {
		margin: 0.8rem 0 1.5rem;
		font-size: 1.4rem;
		color: #bebebe;

		> strong {
			color: #000;
			font-weight: normal;
		}
	}

	&__offer {
		font-size: 1.4rem;
		line-height: 1.43;
		color: #333;
	}

	&__price {
		display: flex;
		align-items: center;
		margin-top: 2.5rem;
	}

	&__price-off {
		width: 90px;
		height: 30px;
		margin-right: 1.5rem;
		padding: 1rem 1.6rem;
		font-size: 0.8rem;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.24rem;
		text-align: center;
		color: #000;
		background-color: #e1e1e1;
	}

	&__price-old {
		margin-right: 0.6rem;
		font-size: 1rem;
		color: #a9a9a9;
	}

	&__price-current {
		font-size: 2.5rem;
		font-weight: bold;
		color: #ff8282;
	}

	&__code {
		display: inline-flex;
		align-items: center;
		width: 100%;
		margin-top: 1rem;
		border: 1px solid transparent;
		justify-content: space-between;
		padding: 1rem 1rem 1rem 2rem;
		background-color: #ff8282;
		color: #fff;

		&.is-off {
			justify-content: center;
			border-color: #bebebe;
			background-color: #fff;
			color: #bebebe;
		}
	}

	&__code-number {
		font-size: 0.8rem;
		line-height: 1rem;
		letter-spacing: 0.24rem;
		font-weight: bold;
		text-align: center;
		align-self: flex-start;
		width: 70%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__code-btn {
		@include text-small();
		font-size: 0.8rem;
		letter-spacing: 0.24rem;
		border: 1px solid transparent;
		border-radius: 0.3rem;
		padding: 0.5rem 1.2rem;
		color: #ff8282;
		background-color: #fff;
		transition: 0.3s;

		&:hover {
			background-color: transparent;
			color: #fff;
			border-color: #fff;
		}
	}

	&__hover {
		display: none;
		pointer-events: none;
	}

	@include media-breakpoint-up(md) {
		&__wrap_thumb {
			max-width: none;
		}

		&__date {
			font-size: 1.4rem;
		}

		&__location {
			margin: 2rem 0;
		}

		&__event {
			font-size: 1.4rem;
			line-height: 1.43;
		}

		&__price-old {
			font-size: 1.4rem;
		}

		&__price-current {
			font-size: 3rem;
		}

		&__code-number {
			font-size: 1.6rem;
			line-height: 3.3rem;
			letter-spacing: 0.48rem;
		}

		&__code-btn {
			@include text-small();
			padding: 1rem 1.6rem;
		}
	}

	@include media-breakpoint-up(lg) {
		&:hover {
			.c-card-post__hover {
				opacity: 1;
			}
		}

		&__hover {
			opacity: 0;
			position: absolute;
			display: flex;
			align-items: flex-end;
			width: 100%;
			height: 100%;
			padding: 2rem;
			top: 0;
			left: 0;
			background-color: rgba(#000, 0.3);
			transition: 0.3s;
		}
	}

	@include media-breakpoint-down(sm) {
		align-items: flex-start;

		&__tag {
			position: static;
		}

		&__subdescription {
			display: none;
		}
	}
}
