.c-cookie-notice {
	opacity: 0;
	visibility: hidden;
	z-index: 10;
	position: fixed;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	width: 90%;
	max-width: 900px;
	bottom: 35px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 5px;
	padding: 20px 50px 20px 25px;
	background-color: rgba(#f57f81, 0.92);
	font-family: 'Assistant', sans-serif;
	font-size: 1.6rem;
	line-height: 1.25;
	color: #000;
	transition: 0.3s;

	&.is-loaded {
		opacity: 1;
		visibility: visible;
	}

	&.is-closed {
		opacity: 0;
		visibility: hidden;
	}

	a {
		display: block;
		text-decoration: underline;
	}

	&__btn {
		@include text-icon();
		position: absolute;
		display: block;
		width: 15px;
		height: 15px;
		top: 10px;
		right: 10px;
		color: #fff;
		font-size: 1.2rem;
		line-height: 1.2rem;

		&:before {
			content: '\e809';
		}
	}

	@include media-breakpoint-up(md) {
		width: 90%;
		max-width: 900px;
		padding-right: 65px;
		left: 35px;
		transform: none;

		a {
			display: inline-block;
		}

		&__btn {
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
		}
	}
}
