.c-content {
	font-family: $font-sans-serif;
	color: #333333;
	padding: 2rem 1rem 6rem 1rem;

	&__title {
		font-size: 2rem;
		line-height: 1.67;
		font-weight: bold;
	}

	&__text {
		font-size: 1.4rem;
		line-height: 2.5;
		font-weight: normal;
	}

	@include media-breakpoint-up(md) {
		max-width: 595px;
		margin: 0 auto;

		&__title {
			font-size: 3rem;
			line-height: 1.67;
		}

		&__text {
			font-size: 1.8rem;
			line-height: 1.94;
			margin-top: 2rem;
		}
	}

	@include media-breakpoint-up(lg) {
		max-width: 817px;
		padding-top: 7.6rem;
	}
}
