.c-container-video {
	width: 100%;
	position: relative;
	&__item {
		width: 100%;
		padding-bottom: 56.25%;
		background: #000;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
