.c-contact-intro {
	color: #000000;

	&__title {
		font-family: $font-fixed;
		font-size: 4rem;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 1.5;
		text-align: center;
	}

	&__subtitle {
		font-family: $font-sans-serif;
		font-size: 1.2rem;
		line-height: 1.67;
		letter-spacing: 3px;
		text-transform: uppercase;
		text-align: center;
		font-weight: normal;
		margin-top: 1rem;
	}

	@include media-breakpoint-up(md) {
		max-width: 620px;
		margin: 0 auto;

		&__title {
			font-size: 5rem;
			line-height: 2.4;
		}

		&__subtitle {
			font-size: 1.4rem;
			line-height: 1.43;
			letter-spacing: 3.5px;
			margin-top: 0;
		}
	}

	@include media-breakpoint-up(lg) {
		max-width: none;
	}
}
