.c-carousel-default {
	position: relative;

	// .owl-height {
	// 	transition: none;
	// }

	.owl-dots {
		position: absolute;
		bottom: 3rem;
		left: 50%;
		transform: translateX(-50%);

		@extend %owl-dot;
	}

	.owl-nav {
		button.owl-prev,
		button.owl-next {
			position: absolute;
			width: 4rem;
			height: 4rem;
			border-radius: 50%;
			top: 50%;
			transform: translateY(-50%);
			// background-color: rgba(#fff, 0.3);
			background-color: #000;
			color: #fff;
			transition: 0.3s;

			&:before {
				@include text-icon();
				font-size: 1.2rem;
				line-height: 4rem;
				margin-left: 0;
			}

			> span {
				display: none;
			}

			&.disabled {
				opacity: 0;
				visibility: hidden;
			}
		}

		button.owl-prev {
			left: 2rem;

			&:before {
				content: '\f104';
			}
		}

		button.owl-next {
			right: 2rem;

			&:before {
				content: '\f105';
			}
		}
	}
}
