.c-contact-form {
	font-family: $font-sans-serif;
	margin-top: 2rem;
	position: relative;

	.um-account-main {
		padding: 0;
		width: 100%;
	}

	.um-account-side li a {
		display: flex;
		//padding: 0 20px;
		font-size: 1rem;
		//height: 40px;
		//line-height: 20px;
		height: auto;
		color: #a1a1a1;
		position: relative;
		align-items: center;
		background: #fff;
		border: 1px solid #a1a1a1 !important;
		letter-spacing: 3px;
		text-transform: uppercase;
	}

	.um-account-side li a span.um-account-title {
		padding: 5px 20px;
		height: auto;
	}

	.um-account-side li a.current {
		background: #000;
		border: 1px solid #000 !important;
		span.um-account-title {
			color: #fff;
		}
	}

	.um-field-area {
		input {
			width: 100%;
			padding: 20px;
			border: 1px solid #000;
			font-size: 1.4rem;
			color: #000;

			&::placeholder {
				font-size: 1rem;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 3px;
			}
		}
	}

	.um-field-label label {
		display: flex;
		margin-right: 20px;
		font-size: 1rem !important;
		font-weight: 700;
		text-transform: uppercase;
		color: #8a8a8a;
		letter-spacing: 3px;
	}

	.um-field-checkbox-option,
	.um-field-radio-option {
		margin: 0px 0px 0px 30px;
		line-height: 24px;
		color: #000 !important;
		display: block;
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 700;
		letter-spacing: 3px;
	}

	.um-field-checkbox-state i,
	.um-field-radio-state i {
		color: #000;
	}

	.um-field-area {
		display: flex;
	}

	.um-field-checkbox,
	.um-field-radio {
		width: auto;
		margin-right: 20px;

		input {
			padding: 0;
		}
	}

	.select2.select2-container .select2-selection {
		display: block !important;
		height: 50px;
		padding: 0 0 0 12px !important;
		overflow: hidden !important;
		position: relative !important;
		white-space: nowrap !important;
		line-height: 50px !important;
		color: #666 !important;
		font-size: 15px !important;
		text-align: left !important;
		text-decoration: none !important;
		-moz-border-radius: 2px !important;
		-webkit-border-radius: 2px !important;
		border-radius: 0px !important;
		background-clip: padding-box !important;
		background: none !important;
		background-color: #fff !important;
		border: 1px solid #000 !important;
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 50px;
		color: #000;
		font-size: 1.4rem;
	}

	.select2-selection__arrow:before {
		line-height: 50px !important;
	}

	.um-button {
		background: #000;
	}

	input[type='submit'].um-button {
		color: #fff;
		font-size: 1rem;
		font-weight: bold !important;
		letter-spacing: 3px;
		text-transform: uppercase !important;
		border-radius: 0 !important;

		&:focus {
			font-size: 1rem;
		}
	}

	&__file {
		position: relative;
		width: 100px;
		text-align: center;
	}

	&__file-img {
		display: block;
		width: 100px;
		height: 100px;
		margin-bottom: 0.8rem;
		border-radius: 50%;
		background-color: #f7f7f7;
		background-size: cover;
		background-position: center;

		&:before {
			@include text-icon();
			content: '\e810';
			font-size: 4rem;
			line-height: 10rem;
		}

		&.has-image {
			&:before {
				content: '';
			}
		}
	}

	&__file-input {
		opacity: 0;
		z-index: 2;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__file-btn {
		@include text-small();

		&:before {
			@include text-icon();
			content: '\e80f';
			font-size: 1.2rem;
			margin-right: 1rem;
		}
	}

	&__checkbox {
		margin-bottom: 1rem;
		display: flex;
		align-items: center;

		label {
			font-size: 1rem;
			font-weight: bold;
			letter-spacing: 3px;
			text-transform: uppercase;
			color: #000;
			margin-left: 1rem;
			transform: translateY(80%);
		}
	}

	&__checkbox-input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: inline-block;
		position: relative;
		color: #161616;
		top: 10px;
		height: 50px;
		width: 50px;
		border: 1px solid #161616;
		border-radius: 5px;
		cursor: pointer;
		outline: none;

		&:checked::before {
			position: absolute;
			font: 18px/1 'Open Sans', sans-serif;
			left: 20px;
			top: 13px;
			content: '\02143';
			transform: rotate(40deg);
		}
	}

	&__title {
		font-family: $font-sans-serif;
		font-size: 2rem;
		font-weight: bold;
		line-height: 6;
		color: #000000;
		text-align: center;
	}

	&__label {
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: #8a8a8a;
	}

	&__input,
	&__textarea {
		width: 100%;
		// max-width: 270px;
		height: 50px;
		padding: 1.9rem 1.3rem;
		border: 1px solid #161616;
		margin-top: 2rem;
		font-size: 1.4rem;
		color: #000;

		&::placeholder {
			color: #000;
			// font-size: 1rem;
			// font-weight: bold;
			// letter-spacing: 3px;
			// text-transform: uppercase;
		}
	}

	&__select {
		position: relative;

		select {
			display: block;
			width: 100%;
			height: 50px;
			margin-top: 2rem;
			padding: 0 1.3rem;
			border: 1px solid #161616;
			font-size: 1.4rem;
			color: #000;
			background-color: #fff;
		}

		&:after {
			content: '\f107';
			font-family: 'fontello';
			position: absolute;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			pointer-events: none;
			color: #000;
			text-align: center;
			line-height: 25px;
			background: #f7f7f7;
		}
	}

	&__textarea {
		height: 300px;
	}

	&__radio {
		margin-bottom: 1rem;
		display: flex;
		align-items: center;

		label {
			font-size: 1rem;
			font-weight: bold;
			letter-spacing: 3px;
			text-transform: uppercase;
			color: #000;
			margin-left: 1rem;
			transform: translateY(80%);
		}
	}

	&__radio-input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: inline-block;
		position: relative;
		color: #666;
		top: 10px;
		height: 50px;
		width: 50px;
		border: 1px solid #161616;
		border-radius: 50px;
		cursor: pointer;
		outline: none;

		&:checked::before {
			position: absolute;
			left: 50%;
			top: 50%;
			content: '';
			border-radius: 50%;
			width: 10px;
			height: 10px;
			background-color: black;
			transform: translate(-50%, -50%);
		}
	}

	&__btn {
		width: 100%;
		height: 50px;
		background-color: #000;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 3px;
		color: #fff;
		text-transform: uppercase;
		margin-top: 3rem;
	}

	@include media-breakpoint-up(md) {
		&__textarea {
			height: 200px;
		}
	}
	@include media-breakpoint-down(md) {
		.um-account-main {
			width: 100%;
		}
	}

	@include media-breakpoint-up(lg) {
		&__textarea {
			height: 200px;
		}
	}
}
