.c-description-headline {
	font-size: 1rem;
	letter-spacing: 0.42rem;
	text-transform: uppercase;
	text-align: center;
	color: #fff;

	> a {
		text-decoration: underline;
	}

	> p + p {
		margin-top: 2rem;
	}

	&--small {
		font-size: 1rem;
		letter-spacing: 0.2rem;
		line-height: 2;
	}

	&--highlight {
		font-size: 2rem;
		font-weight: bold;
		text-transform: none;
		line-height: 1.25;
		letter-spacing: normal;
		background-image: linear-gradient(to right, #ffaa3c, #ffce8e);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	@include media-breakpoint-up(sm) {
		font-size: 1.4rem;
		line-height: 1.43;

		&--small {
			font-size: 1rem;
		}

		&--highlight {
			font-size: 2rem;
		}
	}
}
