.c-error-intro {
	font-family: $font-sans-serif;
	line-height: 2.5;
	margin: 1rem 1rem 6rem 1rem;
	color: #333333;

	&__title {
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
	}

	&__description {
		font-size: 1.4rem;
	}

	&__btn {
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
		text-align: center;
		background-color: #000;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 3px;
		color: #fff;
		text-transform: uppercase;
		margin-top: 3rem;
	}

	@include media-breakpoint-up(md) {
		max-width: 605px;
		margin: 2rem auto 8rem auto;

		&__title {
			font-size: 3rem;
			line-height: 1.67;
		}

		&__description {
			font-size: 1.8rem;
			line-height: 1.94;
			margin-top: 1rem;
		}
	}

	@include media-breakpoint-up(lg) {
		max-width: 837px;
	}
}
