.c-featured-blocks {
	position: relative;
	padding-top: 2rem;
	background-color: #000;

	&__item {
		@include make-col(12);
		overflow: hidden;
		position: relative;
		height: 100%;
	}

	&__title {
		@include text-headline();
		z-index: 3;
		margin-bottom: 4.5rem;
		text-align: center;
	}

	&__more {
		@include text-small();
		z-index: 4;
		position: absolute;
		top: 5rem;
		left: 1rem;
		display: inline-flex;
		align-items: center;
		color: #fff;
		background-color: transparent;

		&:before {
			@include text-icon();
			content: '\f107';
			display: block;
			width: 4rem;
			height: 4rem;
			margin-right: 1.5rem;
			border-radius: 50%;
			line-height: 4rem;
			text-indent: 0.4rem;
			background-color: rgba(0, 0, 0, 0.3);
		}
	}

	.owl-item {
		height: 100%;
	}

	.owl-dots {
		position: absolute;
		top: -4rem;
		left: 50%;
		transform: translateX(-50%);

		@extend %owl-dot;
	}

	@include media-breakpoint-up(md) {
		padding-top: 0;

		&__item {
			@include make-col(4);
		}

		&__title {
			position: absolute;
			margin: 0;
			top: 3rem;
			left: 3.5rem;
			text-align: left;
		}

		&__more {
			left: 3.5rem;
		}
	}

	@include media-breakpoint-up(lg) {
		&__more {
			left: 7.5rem;
		}
	}
}
