$className: c-featured-carousel;

.#{$className} {
	@extend %carousel;

	&__title {
		@extend %carousel__title;
	}

	@include media-breakpoint-up(md) {
		@include carousel-breakpoint-up($className, 'md');
	}
	@include media-breakpoint-up(lg) {
		@include carousel-breakpoint-up($className, 'lg');
	}

	@include media-breakpoint-up(xl) {
		@include carousel-breakpoint-up($className, 'xl');
	}
}
