body form {
	.js-error {
		color: red !important;
		border-color: red !important;

		&::placeholder {
			color: red !important;
		}

		span {
			color: red !important;
			border-color: red !important;
		}
	}

	.js-success {
		color: green;
	}

	.js-loading {
		pointer-events: none;
		background: #000 url(../img/layout/loading-wave.svg) no-repeat center !important;
		text-indent: -99999px;
	}

	.notice {
		padding-top: 2rem;
		font-size: 15px;
		text-align: center;

		&.hidden {
			opacity: 0;
		}
	}
}

.js-sending {
	opacity: 0.4;
	transition: all 250ms ease-out;
}
