.c-form {
	$self: &;
	color: #000;

	&__label {
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 0.3rem;
		text-transform: uppercase;
		color: currentColor;
	}

	&__input {
		@include text-small();
		width: 100%;
		padding: 1.8rem 1.5rem;
		border: solid 1px currentColor;
		background-color: transparent;

		&::placeholder {
			color: currentColor;
		}
	}

	&__radio {
		margin-bottom: 1rem;
		display: flex;
		align-items: center;
	}

	&__radio-label {
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: currentColor;
		margin-left: 1rem;
		transform: translateY(80%);
	}

	&__radio-input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: inline-block;
		position: relative;
		top: 10px;
		height: 50px;
		width: 50px;
		border: 1px solid currentColor;
		border-radius: 50px;
		cursor: pointer;
		outline: none;

		&:checked::before {
			position: absolute;
			left: 50%;
			top: 50%;
			content: '';
			border-radius: 50%;
			width: 10px;
			height: 10px;
			background-color: currentColor;
			transform: translate(-50%, -50%);
		}
	}

	&__checkbox {
		display: flex;
		align-items: center;
	}

	&__checkbox-label {
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: currentColor;
		margin-left: 1rem;
	}

	&__checkbox-input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		display: inline-block;
		position: relative;
		color: currentColor;
		width: 30px;
		height: 30px;
		border: 1px solid currentColor;
		border-radius: 5px;
		cursor: pointer;
		outline: none;

		&:checked::before {
			position: absolute;
			content: '\02143';
			font: 1.8rem/1 sans-serif;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) rotate(40deg);
		}
	}

	&__notice {
		font-size: 1.2rem;
		text-align: center;
		color: #606060;

		> a {
			text-decoration: underline;
		}
	}

	&__btn {
		width: 100%;
		padding: 2rem;
		background-color: #000;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 0.3rem;
		color: #fff;
		text-transform: uppercase;
	}

	&__link {
		font-size: 0.8rem;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: underline;
		letter-spacing: 0.24rem;
		color: #fff;
	}

	&__option {
		max-width: 45rem;
		width: 100%;
		padding: 2rem;
		border: 1px solid #fff;
		background-color: transparent;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 0.3rem;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		cursor: pointer;

		&.is-selected {
			border-color: transparent;
			background-image: linear-gradient(to right, #ffaa3c, #ffce8e);
			color: #000;
		}
	}

	&__file-label {
		display: flex;
	}

	&__file-input {
		opacity: 0;
		overflow: hidden;
		position: absolute;
		width: 0;
		height: 0;
	}

	&__file-name {
		@include text-small();
		width: 75%;
		padding: 1.8rem 1.5rem;
		background-color: transparent;
		border: 1px solid #fff;
		color: #fff;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:before {
			content: attr(data-title);
		}
	}

	&__file-btn {
		@include text-small();
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 25%;
		height: 5rem;
		background-color: #fff;
		color: #000;
	}

	&--dark {
		color: #fff;

		#{$self}__btn {
			background-color: #fff;
			color: #000;
		}
	}
}
