.c-filter-logged {
	display: flex;
	justify-content: center;
	margin: 4rem 0;

	&__item {
		@include text-small();
		display: inline-flex;
		align-items: center;
		margin: 0 0.3rem;
		padding: 0.8rem;
		border: solid 1px #a1a1a1;
		font-size: 0.7rem;
		transition: 0.3s;

		&:before {
			@include text-icon();
			font-size: 1.5rem;
			line-height: 1em;
			margin-right: 0.6rem;
		}

		&:hover,
		&.is-active {
			background-color: #000;
			border-color: #000;
			color: #fff;
		}

		&--articles {
			&:before {
				content: '\e80c';
			}
		}

		&--events {
			&:before {
				content: '\e80d';
			}
		}

		&--carrers {
			&:before {
				content: '\e80e';
			}
		}

		&--offers {
			&:before {
				content: '\e811';
			}
		}
	}

	@include media-breakpoint-up(md) {
		&__item {
			padding: 1.2rem 2rem;
			font-size: 1rem;

			&:before {
				font-size: 2rem;
			}
		}
	}
}
