.c-header-job {
	padding: 2rem 0;
	background-color: #161616;

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&--full {
			width: 100%;
		}
	}

	&__thumb {
		width: 6rem;
		height: 6rem;
		margin-right: 1.2rem;
		background-color: #666;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__description {
		max-width: 500px;
		margin-bottom: 1rem;
		font-size: 1.6rem;
		line-height: 1.67;
		color: #fff;
	}

	&__date {
		text-transform: none;
		letter-spacing: 0;
		font-weight: 400;
		font-size: 1.2rem;
		color: #8a8a8a;
	}

	@include media-breakpoint-up(md) {
		&__item {
			flex-direction: row;
			align-items: center;
		}

		&__description {
			margin-bottom: 0;
			font-size: 1.8rem;
			line-height: 1;
		}

		&__date {
			@include text-small();
			margin-right: 1rem;
			font-size: 1rem;
			color: #fff;
		}
	}
}

.container.webview {
	.c-header-job {
		margin: 0 -15px;
	}
}
