$name: 'c-hero';

.#{$name} {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		transition: 0.3s ease-out;
		z-index: 10;
	}

	&__info {
		position: relative;
		z-index: 20;
		max-width: 615px;
		padding: 0 4rem;
		text-align: center;
	}

	&__date {
		@include text-small();
		display: block;
		color: #fff;
	}

	&__title {
		margin: 3rem 0;
		font-family: $font-fixed;
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.2;
		text-transform: uppercase;
		color: #fff;
	}

	&__bt {
		font-family: $font-sans-serif;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 0.3rem;
		text-transform: uppercase;
		display: inline-flex;
		align-items: center;
		color: #fff;
		background-color: transparent;
		padding: 0;

		&:before {
			font-family: $font-icon;
			content: '\e804';
			display: flex;
			align-items: center;
			justify-content: center;
			width: 4rem;
			height: 4rem;
			margin-right: 1.5rem;
			border-radius: 50%;
			color: #fff;
			letter-spacing: normal;
			background-color: rgba(#fff, 0.3);
		}
	}

	@include media-breakpoint-up(md) {
		&__title {
			font-size: 5rem;
		}
	}
}

@include media-breakpoint-up(lg) {
	.#{$name}__mask-text {
		overflow: hidden;
		display: flex;
		align-items: center;
		height: 30rem;
	}

	.#{$name}__date,
	.#{$name}__bt {
		opacity: 0;
		transform: translateY(20px);
		transition: 1s cubic-bezier(0.4, 0, 0, 1);
	}

	.#{$name}__date {
		transition-delay: 1s;
	}

	.#{$name}__title {
		opacity: 0;
		transform: translateY(300px);
		transition: transform 2s cubic-bezier(0.4, 0, 0, 1);
		transition-delay: 1s;
	}

	.#{$name}__bt {
		transition-delay: 1.8s;
	}

	.owl-carousel {
		.owl-item {
			overflow: hidden;

			&.animated {
				animation-duration: unset;
				animation-fill-mode: none;
			}

			&.active {
				.#{$name}__date,
				.#{$name}__bt {
					opacity: 1;
					transform: translateY(0);
				}

				.#{$name}__title {
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
	}
}
