.c-hero-page {
	overflow: hidden;
	position: relative;
	height: 113px;
	width: 100%;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;

	&::after {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(#000, 0.3);
	}

	&__title {
		z-index: 2;
		position: relative;
		font-family: $font-fixed;
		font-size: 4rem;
		font-weight: bold;
		line-height: 0.75;
		color: #ffff;
		text-transform: uppercase;
	}

	&__video {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@include media-breakpoint-up(md) {
		height: 317px;

		&__title {
			font-size: 5rem;
			line-height: 2.4;
		}
	}

	@include media-breakpoint-up(lg) {
		height: 500px;

		&__title {
			font-size: 9rem;
			line-height: 1.33;
		}
	}
}
