.c-home-poll {
	padding: 5rem;
	text-align: center;

	// voting
	.totalpoll-question-container {
		.totalpoll-question-content p {
			font-size: 2rem;
			font-weight: bold;
			text-transform: none;
			line-height: 1.25;
			letter-spacing: normal;
			background-image: linear-gradient(to right, #ffaa3c, #ffce8e);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			margin-bottom: 4.5rem !important;
			text-align: center;
		}
	}

	.totalpoll-question-choices {
		justify-content: space-between !important;

		// .totalpoll-question-choices-item-control {

		// 	&:hover {
		// 		background: linear-gradient(to right, #ffaa3c, #ffce8e) !important;
		// 	}
		// }

		label,
		.totalpoll-question-choices-item-results {
			width: 49% !important;

			font-size: 14px !important;
			color: #000;
			// font-weight: bold !important;
			// letter-spacing: 0.3rem;

			.totalpoll-question-choices-item-control {
				padding: 12px !important;
				border-color: #000 !important;
			}

			.totalpoll-question-choices-item-selector {
				display: none !important;
			}

			&.totalpoll-question-choices-item-checked {
				.totalpoll-question-choices-item-control {
					border-color: transparent !important;
					background: linear-gradient(to right, #ffaa3c, #ffce8e) !important;
					color: #000 !important;
				}
			}
		}
	}

	.totalpoll-buttons {
		.totalpoll-buttons-results {
			display: none;
		}
		.totalpoll-buttons-vote {
			width: 80%;
			max-width: 400px;
			height: 50px;
			margin: 10px auto 0 !important;
			padding: 0 !important;
			background: #000 !important;
			color: #fff !important;
			border-color: #000 !important;
			font-size: 1rem !important;
			font-weight: bold !important;
			letter-spacing: 0.3rem !important;
			text-transform: uppercase !important;
			line-height: 50px !important;

			&:hover {
				background: #ffaa3c !important;
				border-color: #ffaa3c !important;
			}
		}
	}

	// results
	.is-screen-results {
		.totalpoll-buttons {
			display: none;
		}
	}
	.totalpoll-question-choices-item-results {
		.totalpoll-question-choices-item-container {
			.totalpoll-question-choices-item-label {
				border-color: #000 !important;
				padding: 12px !important;

				// font-size: 14px !important;
				// text-transform: lowercase !important;
				// font-weight: normal !important;
				// letter-spacing: normal !important;

				span {
					padding: 7px 0 10px;
				}
				.totalpoll-question-choices-item-votes-bar {
					background: linear-gradient(to right, #ffaa3c, #ffce8e) !important;
				}
				.totalpoll-question-choices-item-votes-text {
					font-size: 0.9rem !important;
				}
			}
		}
	}
}
