.c-header-logged {
	position: relative;
	padding: 2.5rem 0;
	background-color: #f7f7f7;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 5rem;
		background-color: #1f1f1f;
	}

	&__avatar {
		z-index: 2;
		position: relative;
		display: block;
		margin: 0 auto 0.5rem;
		width: 80px;
		height: 80px;
		border: 4px solid #000;
		border-radius: 50%;
		background-color: #000;
	}

	&__name {
		margin-bottom: 1.5rem;
		font-size: 1.6rem;
		font-weight: bold;
		text-align: center;
		color: #000;
	}

	&__menu {
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}

	&__menu-item {
		@include text-small();
		margin: 0 0.5rem;
		padding: 0.8rem 0.6rem;
		font-size: 0.9rem;
		letter-spacing: 0.27rem;
		transition: 0.3s;

		&.is-active {
			background-color: #fff;
		}
	}

	@include media-breakpoint-up(md) {
		padding: 4.6rem 0;

		&:before {
			height: 8rem;
		}

		&__avatar {
			margin-bottom: 0.8rem;
		}

		&__name {
			margin-bottom: 3.5rem;
			font-size: 2rem;
		}

		&__menu-item {
			margin: 0 4.5rem;
			font-size: 1rem;
			letter-spacing: 0.3rem;
		}
	}

	@include media-breakpoint-up(lg) {
		&__menu-item {
			&:hover {
				background-color: #fff;
			}
		}
	}
}
