.c-headline-list {
	padding: 3.5rem 1rem;
	background-color: #000;

	&__item {
		padding: 3.5rem 0;
		border-bottom: 1px solid #23313a;
		width: 100%;

		&:first-child {
			padding-top: 0;
		}
	}

	&__date {
		display: block;
		margin-bottom: 1.5rem;
		font-family: $font-sans-serif;
		font-size: 0.8rem;
		font-weight: bold;
		letter-spacing: 0.24rem;
		color: #c6c6c6;
	}

	&__title {
		font-family: $font-sans-serif;
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.25;
		color: #fff;
		background-image: linear-gradient(to left, #ffaa3c, #ff8282);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: 0.3s;
	}

	@include media-breakpoint-up(md) {
		display: flex;
		flex-wrap: wrap;
		padding: 3rem;

		&__item {
			@include make-col(4);
			border-bottom: 0;
			padding: 0 2.5rem 0 0;

			// &:not(:first-child) {
			// 	padding-left: 2.5rem;
			// 	border-left: 1px solid #23313a;
			// }
		}
	}

	@include media-breakpoint-up(xl) {
		width: 100%;
		min-height: 500px;

		flex-direction: column;
		height: 100%;
		align-items: center;
		justify-content: center;

		padding: 3.5rem 7rem 0 7rem;

		&__item {
			flex: none;
			display: block;
			max-width: 100%;
			padding: 3rem 0;
			border-bottom: 1px solid #23313a;

			&:hover {
				.c-headline-list__title {
					background-image: linear-gradient(to left, #ffaa3c, #ff8282);
				}
			}

			&:last-child {
				border-bottom: none;
			}
		}

		&__date {
			font-size: 1rem;
		}

		&__title {
			background-image: linear-gradient(to left, #fff, #fff);
		}
	}
}
