%bt {
	font-family: $font-sans-serif;
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
	color: #000;
	background-color: transparent;
	padding: 0;

	&:before {
		position: relative;
		z-index: 2;
		font-family: $font-icon;
		content: '\e804';
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4rem;
		height: 4rem;
		margin-right: 1.5rem;
		border-radius: 50%;
		color: #000;
		letter-spacing: normal;
		background-color: rgba(#000, 0.1);
	}
}

.c-headline {
	$self: &;

	&__img {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: flex-end;
		width: 100%;
		height: 400px;
		padding: 3rem 1rem;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(#000, 0.1);
			pointer-events: none;
		}
	}

	&__img-src {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&__info {
		display: none;
		padding: 3rem 7.5rem;
	}

	&__date {
		display: block;
		margin-bottom: 2rem;
		font-family: $font-sans-serif;
		font-weight: bold;
		font-size: 0.8rem;
		letter-spacing: 0.22rem;
		color: #000;
	}

	&__title {
		margin-bottom: 1.5rem;
		font-family: $font-fixed;
		font-size: 3rem;
		font-weight: bold;
		line-height: 1.5;
		text-transform: uppercase;
		color: #000;
	}

	&__bt {
		@extend %bt;

		&.is-video {
			&:before {
				content: '\e806';
			}
		}
	}

	&__bt-full {
		@extend %bt;
		z-index: 2;
		position: relative;
		color: #fff;

		&:before {
			color: #fff;
			background-color: rgba(#fff, 0.2);
		}
	}

	&__call-list {
		display: flex;
		justify-content: space-between;
		padding: 2rem 1rem;
	}

	&__call {
		flex-shrink: 0;
		width: 240px;
		padding: 0 1.5rem;
		font-family: $font-fixed;
		font-size: 2rem;
		line-height: 1.5;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: normal;

		&.is-active {
			background-image: linear-gradient(to left, #ffaa3c, #ff8282);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__progress {
		opacity: 0;
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 0.2rem;
		margin-bottom: 1.2rem;

		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 0.1rem;
			top: 50%;
			transform: translateY(-50%);
			background-color: #e5e5e5;
		}

		&.is-active {
			opacity: 1;
		}
	}

	&__bar {
		position: relative;
		width: 0;
		height: 100%;
		background-image: linear-gradient(to left, #ffaa3c, #ff4b49);
	}

	@include media-breakpoint-up(md) {
		&__img {
			justify-content: center;
			align-items: center;
			padding: 3rem;
		}

		&__call-list {
			padding: 4rem 3rem;
		}

		&__call {
			width: 290px;
		}
	}

	@include media-breakpoint-up(lg) {
		height: 100%;

		&:hover {
			#{$self}__img-src {
				transform: scale(1.2);
			}
		}

		&__info {
			display: block;
		}

		&__date {
			font-size: 1.1rem;
			letter-spacing: 0.3rem;
		}

		&__call-list {
			padding: 2.5rem 7.5rem;
		}

		&__call {
			@include make-col(4);
			width: auto;
			font-family: $font-sans-serif;
			font-size: 1.4rem;
			line-height: 1.43;
			text-transform: none;
		}
	}

	@include media-breakpoint-up(xl) {
		&__title {
			font-size: 4rem;
		}
	}
}
