.c-input {
	@include text-small();
	width: 100%;
	padding: 20px 15px;
	border: 1px solid #000;
	background-color: transparent;
	color: #000;

	&::placeholder {
		color: #000;
	}

	&--light {
		color: #c4c4c4;

		&::placeholder {
			color: #c4c4c4;
		}
	}

	&--negative {
		border-color: #fff;
		color: #fff;

		&::placeholder {
			color: #fff;
		}
	}
}
