$name: 'c-item-list';

.#{$name} {
	display: flex;
	flex-direction: column;
	padding-top: 10px;

	&:hover {
		.#{$name}__description {
			text-decoration: underline;
		}
	}
	&__mask {
		overflow: hidden;
	}
	&__img {
		//max-width: 147px;
		width: 100%;
		padding-bottom: 69.28%;
		//background: #ffcc00;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);

		&.is-video {
			position: relative;
			color: #fff;

			&:before {
				content: '\e806';
				@include text-icon();
				z-index: 2;
				position: absolute;
				display: block;
				width: 4rem;
				height: 4rem;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				margin-right: 1.5rem;
				border-radius: 50%;
				line-height: 4rem;
				text-indent: 0.4rem;
				background-color: rgba(#fff, 0.3);
			}
		}
	}
	&__content {
		max-width: 160px;
		margin-top: 15px;
	}
	&__date {
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 3px;
		color: #000000;
		margin: 5px 0;
	}
	&__description {
		font-size: 1.4rem;
		font-weight: bold;
		line-height: 1.25;
		color: #000000;
		margin: 8px 0;
	}
	@include media-breakpoint-up(md) {
		padding-top: 30px;

		&__content {
			.c-card-entry__tag {
				opacity: 1;
				transform: none;
				// margin-bottom: 30px;
			}
		}
	}
	@include media-breakpoint-up(lg) {
		flex-direction: row;
		padding: 0;

		&:hover {
			.#{$name}__img {
				transform: scale(1.1) translate(2px, -2px);
			}
		}

		&__img {
			width: 186px;
			height: 130px;
			padding-bottom: 0;
		}
		&__content {
			margin-left: 20px;
			margin-top: 0;
		}
		&__description {
			font-size: 1.6rem;
		}
	}
}
