.c-list-header {
	margin-bottom: 5rem;
	padding: 2.5rem 0;
	background-color: #f7f7f7;

	&__title {
		font-family: $font-fixed;
		font-weight: bold;
		font-size: 3rem;
		text-transform: uppercase;
		line-height: 1.1;
		color: #000;
	}

	@include media-breakpoint-up(lg) {
		&__title {
			font-size: 4.5rem;
		}
	}
}
