.c-leaderboard-banner {
	background: #000;
	position: relative;
	padding: 30px 30px 0;

	.c-banner {
		max-width: 1200px;
	}
}

.js-leaderboard-wrapper {
	overflow: hidden;
	position: relative;

	&.desktop {
		top: -10.2rem;
		margin-bottom: -10.2rem;
		display: block;
	}

	&.mobile {
		top: -6rem;
		margin-bottom: -6rem;
		display: none;
	}
}

.l-header.banner-on {
	transition: all 1000ms ease-out;
	position: relative;
	transform: translateY(0) !important;
}

@media screen and (max-width: 990px) {
	.js-leaderboard-wrapper.desktop {
		display: none;
	}
	.js-leaderboard-wrapper.mobile {
		display: block;
	}
}
