.c-list {
	//display: flex;
	&__content {
		padding: 30px 0;
	}
	&__title {
		font-family: $font-fixed;
		font-size: 4rem;
		font-weight: bold;
		color: #000000;
		text-transform: uppercase;
		margin-bottom: 2rem;
		padding-left: 10px;
	}
	&__carousel {
		width: 100%;
	}
	&--blue {
		background-color: #d4eaf4;
	}
	&--pink {
		background-color: #ffe6e6;
	}
	&--yellow {
		background-color: #ffeed8;
	}
	@include media-breakpoint-up(sm) {
		&__title {
			padding-left: 30px;
		}
	}
	@include media-breakpoint-up(lg) {
		display: flex;
		justify-content: center;
		padding: 60px 0 150px 0;
		height: 100%;

		&__content {
			display: flex;
			flex-direction: column;
			padding-left: 30px;
		}
		&__title {
			font-size: 4.5rem;
			margin-bottom: 40px;
			padding-left: 0;
		}
		.c-item-list {
			margin-bottom: 20px;
			height: 150px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
