.c-navbar-footer {
	display: flex;
	flex-direction: column;

	&__item:not(:first-child) {
		padding-top: 2rem;
	}

	&__link {
		@include text-small();
		color: #ffffff;
	}

	@include media-breakpoint-up(md) {
		margin-left: 30px;

		&__link {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		&__item {
			text-align: center;
		}
	}
}
