@mixin txt($color: #000) {
	font-size: 1rem;
	font-weight: bold;
	letter-spacing: 3px;
	color: #000;
	text-transform: uppercase;
}

.c-newsletter {
	width: 100%;
	height: 200px;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	z-index: 0;
	&::before {
		content: 'NEWSLETTER';
		font-family: $font-fixed;
		font-size: 17rem;
		font-weight: bold;
		letter-spacing: 10px;
		color: #f1f1f1;
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
	&__title {
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 3px;
		color: #000;
		text-transform: uppercase;
		text-align: center;
	}

	&__form {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 25px;
	}
	&__input {
		width: 100%;
		max-width: 325px;
		height: 60px;
		padding: 0 15px;
		font-size: 14px;

		&::placeholder {
			color: #666666;
		}

		&:-ms-input-placeholder {
			color: #c4c4c4;
		}

		&::-ms-input-placeholder {
			color: #c4c4c4;
		}

		&.js-error {
			background: #ffecec;
		}
	}
	&__btn {
		width: 80px;
		height: 60px;
		border: none;
		background-color: #d8d8d8;
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 3px;
		color: #000;
		text-transform: uppercase;
		transition: 0.3s;

		&:hover {
			background-color: #000;
			color: #fff;
		}
	}
}

#mce-responses {
	.response {
		margin-top: 25px;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.5rem;
		letter-spacing: 0.3rem;
		font-weight: 700;
	}
}

.modal.newsletter {
	#mc-embedded-subscribe.inactive {
		pointer-events: none;
		background: #8e8e8e;
		color: #4c4c4c;
	}

	.security-question {
		span {
			color: #fff;
		}
		input {
			background-color: transparent;
			color: #fff;
			border-color: #fff;

			&::placeholder {
				color: #fff;
			}
		}
	}
}
