%navbar-link {
	font-family: $font-fixed;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.26rem;
	color: #fff;
}

.c-navbar {
	display: flex;
	align-items: center;

	&__item {
		position: relative;
		margin-left: 1rem;
	}

	&__link {
		@extend %navbar-link;
		margin: 0 0.6rem;
		font-size: 1.2rem;
	}

	&__drop {
		&--floating {
			display: none;
			position: absolute;
			min-width: 20rem;
			padding: 4.2rem 0 2rem;
			// top: calc(100% + 3.6rem);
			top: 2.2rem;
			left: 50%;
			right: 0;
			transform: translateX(-50%);

			.c-navbar__drop-list {
				position: relative;
				padding: 2.5rem 0;
				background: #242424;

				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					border-left: 0.8rem solid transparent;
					border-right: 0.8rem solid transparent;
					border-bottom: 0.8rem solid #242424;
					top: -0.8rem;
					left: 50%;
					transform: translateX(-50%);
					pointer-events: none;
				}
			}

			.c-navbar__drop-link {
				display: block;
				padding: 1.5px 0;
				font-size: 14px;
				line-height: 2.14;
				text-align: center;
				color: #fff;

				&.is-dark {
					color: #646464;
				}
			}
		}
	}

	&--stacked {
		flex-direction: column;

		.c-navbar__item {
			width: 100%;
			margin-left: 0;
			text-align: center;
			border-bottom: 1px solid #1d1d1d;
		}

		.c-navbar__link {
			display: block;
			padding: 1.2rem 3rem;
		}

		.c-navbar__link--toggle {
			position: relative;
			background-color: #2a2a2a;

			.icon {
				font-size: 1.8rem;
			}

			&:after {
				@include text-icon();
				content: '\f107';
				font-size: 1.5rem;
				line-height: 2.6em;
				text-indent: 0.3rem;
				position: absolute;
				display: block;
				width: 4rem;
				height: 4rem;
				border-radius: 50%;
				top: 50%;
				right: 3rem;
				transform: translateY(-50%);
				background-color: #1c1c1c;
			}

			&.is-open {
				&:after {
					content: '\f106';
				}
			}
		}

		.c-navbar__drop {
			display: none;
			background-color: #1f1f1f;

			&--outline {
				border-top: 1px solid #1d1d1d;
				background-color: transparent;
			}
		}

		.c-navbar__drop-link {
			@extend %navbar-link;
			display: block;
			padding: 1.8rem 0;

			&--secondary {
				font-family: $font-sans-serif;
				font-size: 1.2rem;
				letter-spacing: 0.4rem;
			}

			&--outline {
				text-transform: none;
				color: #747474;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		&__link {
			position: relative;

			&.has-hover {
				transition: 0.4s;

				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					height: 1px;
					width: 0;
				}

				&:before {
					transition: width 0s ease, background 0.4s ease;
					left: 0;
					right: 0;
					bottom: -6px;
				}

				&:after {
					right: 2.2%;
					bottom: -6px;
					background: currentColor;
					transition: width 0.4s ease;
				}

				&.is-active,
				&:hover {
					&.is-news {
						color: #2896c8;
					}

					&.is-life {
						color: #ffaa3c;
					}

					&.is-hot {
						color: #ff8282;
					}

					&.is-job {
						color: #00968c;
					}

					&.is-out {
						color: #8b77ff;
					}

					&.is-video {
						color: #a8a8a8;
					}

					&:before {
						width: 97.8%;
						background: currentColor;
						transition: width 0.4s ease;
					}

					&:after {
						width: 97.8%;
						background: 0 0;
						transition: all 0s ease;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {
		&__item {
			margin-left: 2.4rem;
		}

		&__link {
			margin: 0 1.2rem;
			font-size: 1.2rem;
		}
	}
}
