.c-privacy-intro {
	font-family: $font-sans-serif;
	color: #333333;

	&__title {
		font-size: 2.5rem;
		font-weight: bold;
		line-height: 1.4;
	}

	&__subtitle {
		font-size: 2rem;
		line-height: 1.75;
		margin-top: 4rem;
	}

	&__text {
		font-size: 1.4rem;
		line-height: 2.5;
	}

	@include media-breakpoint-up(md) {
		&__title {
			font-size: 3rem;
			line-height: 1.17;
		}

		&__subtitle,
		&__text {
			font-size: 1.8rem;
			line-height: 1.94;
		}
	}

	@include media-breakpoint-up(lg) {
	}
}

.list-indent {
	margin-left: 3em !important;
}
