.c-privacy-anchor {
	font-family: $font-sans-serif;
	font-size: 1.4rem;
	text-decoration: underline;
	line-height: 2.86;
	font-weight: bold;
	margin-top: 4rem;

	&__item {
		display: block;
	}

	@include media-breakpoint-up(md) {
		font-size: 2rem;
		line-height: 2;
	}

	@include media-breakpoint-up(lg) {
	}
}
