.c-privacy-block {
	font-family: $font-sans-serif;
	margin-top: 4rem;
	line-height: 2.5;
	color: #333333;

	&__title {
		font-size: 2rem;
		font-weight: bold;
	}

	&__text {
		font-size: 1.4rem;
	}

	@include media-breakpoint-up(md) {
		&__title {
			font-size: 3rem;
			line-height: 1.67;
		}

		&__text {
			font-size: 1.8rem;
			line-height: 1.94;
			margin-top: 2rem;
		}
	}

	@include media-breakpoint-up(lg) {
	}
}
