.c-post {
	h2,
	h3,
	h4 {
		margin-bottom: 1rem;
		font-weight: bold;
		color: #000;
	}

	h2 {
		font-size: 4rem;
	}

	h3 {
		font-size: 3rem;
	}

	h4 {
		font-size: 2rem;
	}

	p,
	ul {
		font-size: 1.4rem;
		line-height: 2.14;

		+ * {
			margin-top: 5rem;
		}
	}

	ul {
		list-style-type: disc;
		padding-left: 2rem;

		li + li {
			margin-top: 0.5rem;
		}
	}

	@include media-breakpoint-up(md) {
		h3 {
			font-size: 3rem;
			line-height: 1.67;
		}

		p,
		ul {
			font-size: 1.8rem;
			line-height: 1.94;
		}
	}
}
