.c-profile-info {
	text-align: center;

	&__name {
		font-size: 4rem;
		font-weight: bold;
		line-height: 1.5;
		color: #fff;
	}

	&__description {
		margin-top: 1.2rem;
		font-size: 1.2rem;
		font-weight: bold;
		line-height: 1.5;
		letter-spacing: 0.42rem;
		text-transform: uppercase;
		color: #fff;
	}

	@include media-breakpoint-up(md) {
		&__name {
			font-size: 4rem;
			line-height: 1.13;
		}

		&__description {
			font-size: 1.4rem;
			line-height: 1.43;
		}
	}
}
