// &__option {
// 	max-width: 45rem;
// 	width: 100%;
// 	padding: 2rem;
// 	border: 1px solid #fff;
// 	background-color: transparent;
// 	font-size: 1rem;
// 	font-weight: bold;
// 	letter-spacing: 0.3rem;
// 	color: #fff;
// 	text-transform: uppercase;
// 	text-align: center;
// 	cursor: pointer;

// 	&.is-selected {
// 		border-color: transparent;
// 		background-image: linear-gradient(to right, #ffaa3c, #ffce8e);
// 		color: #000;
// 	}
// }
