.c-reedem {
	&__code {
		width: 100%;
		max-width: 45rem;
		padding: 1.2rem;
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		color: #000;
		background-image: linear-gradient(to right, #ffaa3c, #ffce8e);
	}

	&__description {
		margin-top: 3rem;
		font-size: 1rem;
		line-height: 2;
		letter-spacing: 0.21rem;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
	}

	&__brand {
		margin-top: 1rem;
		font-size: 1.8rem;
		font-weight: bold;
		line-height: 1.11;
		letter-spacing: 0.39rem;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
	}
}
