.c-recent-jobs {
	&__title {
		margin-bottom: 3rem;
		font-size: 2rem;
		font-weight: bold;
		line-height: 1;
		color: #000;
	}

	&__item {
		border: 1px solid #000;
		margin-bottom: 1rem;
		padding: 2rem 1.5rem;
		font-size: 1.4rem;
		line-height: 1.29;
		color: #000;
	}
}
