.c-social {
	$self: &;
	display: flex;
	align-items: center;
	color: #000;
	pointer-events: visible;

	&__book,
	&__icon {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4rem;
		height: 4rem;
		margin: 0 0.5rem;
		transition: 0.3s;

		&::before {
			@include text-icon();
			z-index: 2;
			font-size: 1.5rem;
			color: currentColor;
		}
	}

	&__book {
		.simplefavorite-button {
			@extend %favorite-button;

			&:hover {
				background-color: #000;
				color: #fff;
			}
		}
	}

	&__icon {
		border-radius: 2rem;
		border: solid 1px currentColor;
		color: currentColor;

		&:hover {
			background-color: #000;

			&::before {
				color: #fff;
			}
		}

		&--share {
			&:before {
				content: '\e807';
			}
		}

		&--fb,
		&--fb-bg,
		&--fb-outline {
			&:before {
				content: '\f09a';
			}
		}

		&--tw,
		&--tw-bg,
		&--tw-outline {
			&:before {
				content: '\f099';
			}
		}

		&--fb-bg,
		&--tw-bg {
			border-color: transparent;
		}

		&--fb-bg {
			background-color: #39559f;
			color: #fff;
		}

		&--tw-bg {
			background-color: #00aaf2;
			color: #fff;
		}

		&--bk-outline .simplefavorite-button,
		&--fb-outline,
		&--tw-outline {
			border: 0;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: inherit;
				z-index: 1;
				box-shadow: inset 0 0 0 1px currentColor;
				transform: scale3d(1, 1, 1);
				transition: box-shadow 0.3s, transform 0.3s;
			}

			&:hover {
				background-color: transparent;

				// &::before {
				// 	color: #fff;
				// }

				&:after {
					box-shadow: inset 0 0 0 35px currentColor;
					// transform: scale3d(0.9, 0.9, 1);
				}
			}
		}

		&--bk-outline .simplefavorite-button {
			&:after {
				box-shadow: inset 0 0 0 1px #000;
			}

			&:hover {
				&:after {
					box-shadow: inset 0 0 0 35px #000;
				}
			}

			&.active {
				background-color: transparent;

				&:after {
					box-shadow: inset 0 0 0 1px #ffaa3c;
				}

				&:hover {
					background-color: transparent !important;

					&:after {
						box-shadow: inset 0 0 0 35px #ffaa3c;
					}
				}
			}
		}

		&--fb-outline {
			color: #39559f;

			// &:hover {
			// 	background-color: currentColor;
			// }
		}

		&--tw-outline {
			color: #00aaf2;

			&:hover {
				background-color: currentColor;
			}
		}

		&--small {
			width: 3.5rem;
			height: 3.5rem;
			line-height: 3.2rem;

			&::before {
				font-size: 1.2rem;
			}
		}
	}

	&__sublist {
		opacity: 0;
		visibility: hidden;
		overflow: hidden;
		position: relative;
		display: flex;
		padding-left: 2rem;
		transform: translateX(-5px);
		transition: 0.3s transform, 0.5s opacity ease;

		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 1.2rem;
			height: 0.1rem;
			left: 4px;
			top: 50%;
			background-color: #fff;
		}

		&.is-active {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}

	&--light {
		color: #fff;

		#{$self}__book {
			.simplefavorite-button {
				&:hover {
					border-color: #fff;
					background-color: #fff;
					color: #000;
				}
			}
		}

		#{$self}__icon {
			&:hover {
				background-color: #fff;

				&::before {
					color: #000;
				}
			}
		}
	}

	&--square {
		#{$self}__book,
		#{$self}__icon {
			width: 100%;
			border: 0;
			border-radius: 0;
			margin: 0;
			color: #fff;
		}

		#{$self}__icon {
			&--fb {
				background-color: #39559f;
			}

			&--tw {
				background-color: #00aaf2;
			}
		}

		#{$self}__book {
			.simplefavorite-button {
				border: 0;
				border-radius: 0;
				background-color: #3d3d3d;

				&.active {
					background-color: #ffaa3c;
					color: #000;
				}
			}
		}
	}

	&--vertical {
		flex-direction: column;

		#{$self}__book,
		#{$self}__icon {
			margin: 0.5rem 0;
		}
	}
}
