.c-search-form {
	position: relative;

	&:before {
		font-family: $font-icon;
		content: '\e801';
		position: absolute;
		display: block;
		font-size: 1.8rem;
		width: 1.8rem;
		height: 1.8rem;
		top: 1rem;
		left: 1.5rem;
	}

	&__input {
		@include text-small();
		width: 100%;
		height: 40px;
		border: solid 1px #000;
		padding: 1.6rem 1.6rem 1.6rem 4.5rem;
		color: #000;
		appearance: none;
		font-size: 1.4rem;
		font-weight: normal;
		text-transform: none;
		letter-spacing: normal;

		&::placeholder {
			color: #8c8c8c;
			font-size: 1rem;
			font-weight: bold;
			letter-spacing: 3px;
			text-transform: uppercase;
		}
	}

	&--negative {
		&:before {
			top: 1.2rem;
			color: #fff;
		}

		.c-search-form__input {
			border: 0;
			border-bottom: 1px solid #fff;
			padding-left: 5.5rem;
			background-color: transparent;
			color: #fff;
			font-size: 1.4rem;

			&::placeholder {
				font-size: 1.4rem;
				color: #fff;
			}
		}
	}
}
