.security-question {
	margin-top: 3rem;
	display: block;

	span {
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bold;
		letter-spacing: 0.3rem;
		color: #000;
		padding-right: 10px;
	}

	input {
		border: 1px solid #000;
		width: 80px;
		height: 50px;
		padding: 1.9rem 1.3rem;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 3px;
		color: #000;
		text-align: center;
	}

	&.light {
		span {
			color: #fff;
		}

		input {
			color: #fff;
			border-color: #fff;
			background: none;
		}
	}
}
