.c-select {
	position: relative;
	background-color: #000;
	height: 40px;

	&:after {
		content: '\f107';
		font-family: $font-icon;
		position: absolute;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		pointer-events: none;
		color: #fff;
		text-align: center;
		line-height: 25px;
		background: #313131;
	}

	> select {
		@include text-small();
		display: block;
		width: 100%;
		padding: 0 40px 0 15px;
		border: none;
		background-color: transparent;
		line-height: 4;
		color: #fff;
		appearance: none;

		> option {
			font-size: 1.4rem;
			color: #000;
		}

		&:disabled {
			background-color: #5d5d5d;
		}
	}

	&--highlight {
		background-color: #2896c8;
		height: 30px;

		&:after {
			width: auto;
			height: auto;
			text-align: left;
			line-height: normal;
			background-color: transparent;
		}

		> select {
			color: #000;
		}

		&:after {
			color: #000;
		}
	}

	@include media-breakpoint-up(lg) {
		&--highlight {
			> select {
				line-height: 3;
			}
		}
	}
}
