.c-title-headline {
	font-family: $font-fixed;
	font-size: 4rem;
	font-weight: bold;
	line-height: 1.2;
	text-align: center;
	text-transform: uppercase;
	color: #fff;

	@include media-breakpoint-up(sm) {
		font-size: 5rem;
		line-height: 1.43;
	}
}
