.c-video {
	position: relative;
	background-color: #000;

	.single-video {
		figcaption {
			color: #929292;
			font-size: 75%;
			padding: 15px 10px;
		}
	}

	&__tools {
		padding: 1rem;
		background-color: #202020;
	}

	&__back {
		@include text-small();
		display: inline-flex;
		padding: 0;
		align-items: center;
		color: #fff;
		background-color: transparent;
		cursor: pointer;

		&:before {
			@include text-icon();
			content: '\f104';
			display: block;
			width: 3rem;
			height: 3rem;
			margin-right: 1.5rem;
			border-radius: 50%;
			line-height: 3rem;
			text-indent: 0.4rem;
			background-color: rgba(#fff, 0.3);
		}
	}

	&__embed {
		position: relative;
		overflow: hidden;
		padding-top: 56.25%;

		> iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
		}

		&.is-full {
			padding-top: 0;
			height: 100vh;
		}
	}

	&__info {
		padding: 0 1rem 1.8rem 1rem;

		> hr {
			display: none;
		}
	}

	&__date {
		@include text-small();
		display: block;
		margin-bottom: 0.8rem;
		font-size: 0.8rem;
		color: #7e7e7e;
	}

	&__title {
		font-family: $font-sans-serif;
		font-size: 2rem;
		font-weight: bold;
		line-height: 1.25;
		color: #fff;
	}

	&__list {
		padding: 2rem 0 2rem 1rem;
	}

	&__list-item {
		padding: 0 0.5rem;
	}

	&__thumb {
		position: relative;
		display: block;
		width: auto;
		padding-top: 68%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-color: silver;

		&__image {
			width: 100%;
		}

		&__info {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			padding: 1rem;
			top: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.3);
		}

		&__title {
			font-family: $font-sans-serif;
			font-size: 1.2rem;
			font-weight: bold;
			line-height: 1.5;
			color: #fff;
		}
	}

	.c-card-list__bt {
		transform: none;

		&:before {
			background-color: rgba(255, 255, 255, 0.3);
			color: unset;
		}
	}

	@include media-breakpoint-up(md) {
		&__tools {
			padding: 3rem 4%;
			background-color: #000;
		}

		&__back {
			&:before {
				width: 4rem;
				height: 4rem;
				line-height: 4rem;
			}
		}

		/*&__date {
			display: none;
		}*/

		&__title {
			margin-bottom: 3rem;
		}

		&__info {
			padding: 1.8rem 1rem 1.8rem 3.6rem;

			> hr {
				display: block;
				border-top: 1px solid #ffff;
				margin: 0;
				opacity: 0.2;
			}
		}

		&__list {
			padding: 2rem 0 2rem 3.6rem;
		}
	}

	@include media-breakpoint-up(lg) {
		&__tools {
			padding: 3rem 5%;
			background-color: #000;
		}

		&__back {
			position: absolute;
			top: 100px;
			left: -130px;
		}

		&__list {
			padding: 2.5rem 0;
		}

		&__list-item {
			padding: 0 1.2rem;
		}

		&__info {
			padding: 1.8rem 1rem;
		}

		&__thumb {
			width: 190px;

			&__title {
				font-size: 1.4rem;
			}
		}
	}

	@include media-breakpoint-up(xl) {
		// &__list {
		// 	padding: 2.5rem 6rem;
		// }

		&__thumb {
			width: auto;

			&__title {
				font-size: 1.4rem;
			}
		}

		.owl-nav {
			button.owl-prev,
			button.owl-next {
				position: absolute;
				width: 4rem;
				height: 4rem;
				border-radius: 50%;
				top: 50%;
				transform: translateY(-50%);
				background-color: rgba(#fff, 0.3);
				color: #fff;
				transition: 0.3s;

				&:before {
					@include text-icon();
					font-size: 1.2rem;
					line-height: 4rem;
					margin-left: 0;
				}

				> span {
					display: none;
				}

				&.disabled {
					opacity: 0;
					visibility: hidden;
				}
			}

			button.owl-prev {
				left: -130px;

				&:before {
					content: '\f104';
				}
			}

			button.owl-next {
				right: -130px;

				&:before {
					content: '\f105';
				}
			}
		}
	}
}

.container.webview {
	.c-video__tools {
		margin: 0 -15px 20px;
	}
}
