.daterangepicker {
	color: #fff;
	background-color: #212526;
	border: 0;
	border-radius: 0;

	&:before,
	&:after {
		border-bottom-color: #212526;
	}

	td,
	th {
		border-radius: 0 !important;

		&:hover {
			background-color: #000 !important;
			color: #fff !important;
		}
	}

	.calendar-table {
		background-color: #212526;
		border: 0;

		td.off {
			color: #3a4549;
			background: transparent;

			&:hover {
				color: #3a4549;
			}
		}

		td.in-range {
			background-color: #2d3233;
			color: #fff;
		}

		td.active {
			background-color: #fff;
			color: #000;
			border-radius: 0;
		}

		th.available {
			&:hover {
				border-radius: 0;
				background-color: transparent;
			}
		}

		.prev span,
		.next span {
			border: solid #fff;
			border-width: 0 2px 2px 0;
		}
	}

	.drp-buttons {
		border-top: 0;

		.btn {
			padding: 8px 14px;
		}

		.btn-primary {
			background-color: #2896c8;
			color: #000;
		}
	}
}
