.modal {
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	display: flex;
	position: fixed;
	padding: 1rem;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background: rgba(0, 0, 0, 0.6);
	transition: opacity 0.15s linear;

	&__close {
		position: absolute;
		width: 4rem;
		height: 4rem;
		top: 1rem;
		right: 1rem;
		border-radius: 50%;
		border: solid 1px #fff;

		&:before {
			@include text-icon();
			content: '\e809';
			font-size: 1.2rem;
			color: #fff;
		}
	}

	&__dialog {
		position: relative;
		max-width: 535px;
		margin: auto;
		padding: 7rem 1.5rem;
		box-sizing: border-box;
		background-color: #161616;
		transition: 0.3s linear;
	}

	&.is-open {
		visibility: visible;
		opacity: 1;
	}

	@include media-breakpoint-up(md) {
		padding: 5rem 3rem;

		&__dialog {
			padding: 10rem 6.5rem;
		}
	}
}
