.has-video {
	position: relative;
	overflow: hidden;
	background: #000;

	.c-video-player {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
	}
}
