#gallery-metabox-list li {
	float: left;
	width: 150px;
	text-align: center;
	margin: 10px 10px 10px 0;
	cursor: move;
	position: relative;
}

#gallery-metabox-list li img {
	margin-bottom: 5px;
}

#gallery-metabox-list .remove-image {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	transition: all 250ms ease-out;
}
#gallery-metabox-list .remove-image:hover {
	color: red;
	background: #fef;
}
