.custom-admin-content .inside h1 {
	margin: 15px 0 10px 5px;
}

.custom-admin-content .inside h1.mb-neg {
	margin: 15px 0 -25px 5px;
}

.custom-admin-content .content-wrapper {
	padding: 15px 20px;
	max-width: 1200px;
}

.custom-admin-content .slots {
	display: flex;
	flex-wrap: wrap;
	margin-top: 35px;
}
.custom-admin-content .slot {
	margin: 0 35px 35px 0;
	width: 300px;
	background: #f5f5f5;
	padding: 10px 25px 25px;
	border: 1px solid #ccc;
	position: relative;
}
.custom-admin-content .slot.empty {
	opacity: 0.7;
	background: #f9f9f9;
}
.custom-admin-content .slot.ui-sortable-helper {
	opacity: 0.7;
}
.custom-admin-content .slot h4 {
	font-size: 15px;
}
.custom-admin-content .slot .option {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}
#poststuff .custom-admin-content .slot .option:last-of-type {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}
.custom-admin-content .slot .post-info {
	padding-bottom: 10px;
}

.custom-admin-content label {
	display: block;
}
.custom-admin-content .item-title {
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
}
.custom-admin-content .item-title em {
	font-size: 12px;
	font-style: normal;
}

.custom-admin-content .post-button.loading {
	background-color: #0f4c65;
	pointer-events: none;
}
.custom-admin-content .post-button.loading:after {
	content: ' - loading';
}
.custom-admin-content .post-button.hidden {
	display: none;
}

.custom-admin-content .post-error {
	display: block;
	color: red;
	margin: -10px 0 10px;
}

.custom-admin-content .post-info .current-selected {
	font-size: 15px;
}
.custom-admin-content .post-info .current-selected em {
	display: block;
	font-size: 12px;
}

.custom-admin-content .optional-settings .option {
	opacity: 0;
	height: 0;
	padding: 0;
	margin: 0;
	transition: 0s;
	pointer-events: none;
}
.custom-admin-content .optional-settings > label:hover {
	color: #0085ba;
}
.custom-admin-content .optional-settings > label:after {
	content: ' +';
	font-size: 15px;
	font-weight: 700;
}
.custom-admin-content .optional-settings .checkbox-accordion {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.custom-admin-content .optional-settings .checkbox-accordion:checked + label {
	padding-bottom: 15px;
}
.custom-admin-content .optional-settings .checkbox-accordion:checked + label:after {
	content: ' -';
}
.custom-admin-content .optional-settings .checkbox-accordion:checked ~ .option {
	pointer-events: all;
	height: auto;
	opacity: 1;
	margin-bottom: 30px;
	padding-bottom: 30px;
	transition: opacity 250ms ease-out;
}

.custom-admin-content .used-image {
	max-width: 300px;
	position: relative;
	margin: 15px 0 10px;
}
.custom-admin-content .used-image img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}
.custom-admin-content .used-image .delete-image {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	transition: all 250ms ease-out;
}
.custom-admin-content .used-image .delete-image:hover {
	color: red;
	background: #fef;
}
.custom-admin-content select {
	width: 250px;
}

.custom-admin-content .remove-content {
	cursor: pointer;
	position: absolute;
	top: 29px;
	right: 25px;
	color: #b3b3b3;
	transition: all 250ms ease-out;
}
.custom-admin-content .remove-content:hover {
	color: red;
}

.custom-admin-content p.description {
	padding: 20px 10px;
}

.custom-admin-content .item-style span {
	display: block;
	margin-bottom: 10px;
}
.custom-admin-content .item-style label {
	display: inline-block;
	width: 48%;
}
