#col-container{
clear: left;
}
#smpush-icon-setting{
background-image:url('../images/options.png');
height: 55px;
width: 48px;
margin-top: 1px;
}
#smpush-icon-devsetting{
background-image:url('../images/Developer.png');
height: 55px;
width: 48px;
margin-top: 1px;
}
#smpush-icon-doc{
background-image:url('../images/help.png');
height: 55px;
width: 48px;
margin-top: 1px;
}
#smpush-icon-push{
background-image:url('../images/message.png');
height: 55px;
width: 48px;
margin-top: 1px;
}
#smpush-icon-chanmanage{
background-image:url('../images/square-add.png');
height: 48px;
width: 48px;
margin-top: 1px;
}
#smpush-icon-connmanage{
background-image:url('../images/connection.png');
height: 48px;
width: 48px;
margin-top: 1px;
}
#smpush-icon-tokens{
background-image:url('../images/password.png');
height: 48px;
width: 48px;
margin-top: 1px;
}
#smpush-icon-archive{
background-image:url('../images/archive.png');
height: 48px;
width: 48px;
margin-top: 1px;
}
.smpush_process{
display: none;
}
#smpush-message{
width:450px;
height:160px;
}
.smpush_progress{
width:640px;
padding:20px;
margin:auto;
}
#smpush_progressbar{
width:600px;
margin:20px auto;
}
.smpush_progress_label{
text-align: center;
display: block;
margin-top: 6px;
font: bold 13px Arial;
}
#smpush_progressinfo{
width:600px;
height:340px;
background-color:#fff;
border:1px solid #dfdfdf;
padding:8px;
margin:13px auto;
overflow:auto;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
#smpush_progressinfo p{
color: #464646;
margin: 6px 0;
font: bold 12px "Open Sans",Arial;
}
#smpush_progressinfo p.error{
color:red;
}
#smpush_progressinfo p strong{
margin: 4px 0;
display: block;
color: #fff;
font: bold 13px tahoma;
background-color: #2ea2cc;
padding: 5px;
}
.smpush_document{
border-collapse: collapse;
width: 100%;
border-color: #ccc;
border-style: solid;
border: 0;
}
.smpush_document th{
width: 150px;
height:30px;
background-color: #f5f5f5;
text-align: left;
font-family: "Source Sans Pro", sans-serif;
font-weight: 700;
font-size: 14px;
padding: 4px 8px;
border: #e0e0e0 1px solid;
vertical-align: middle;
}
.smpush_tdhold{
font-family: "Source Sans Pro", sans-serif;
font-weight: 700;
vertical-align: middle;
border: #e0e0e0 1px solid;
padding: 5px;
word-break: break-word;
}
.smpush_td{
font-family: "Source Sans Pro", sans-serif;
font-weight: 700;
vertical-align: middle;
border-right: #e0e0e0 1px solid;
}
.smpush_td tr:last-child td{
border-bottom: 0;
}
.smpush_td tr:first-child td{
border-top: 0;
}
.smpush_tdparam{
border-bottom: #e0e0e0 2px dashed;
border-top: #e0e0e0 1px solid;
border-right: #e0e0e0 1px solid;
padding:5px;
font-size: 15px;
font-family: "Source Code Pro";
font-style: normal;
font-weight: 400;
width: 100px;
}
.smpush_tdcode{
border-bottom: #e0e0e0 2px dashed;
border-top: #e0e0e0 1px solid;
vertical-align: middle;
}
.smpush_tdcode td{
border-top: #e0e0e0 1px solid!important;
vertical-align: middle;
line-height: 25px;
}
.smpush_tdcode tr:first-child td{
border-top: 0!important;
}
.smpush_tdcode tr:last-child td{
border-bottom: 0;
}
.smpush_document span{
background-color: #FAFAFA;
margin-right: 5px;
padding-left: 5px;
font-size: 14px;
font-style: normal;
font-weight: 400;
height: 25px;
float: left;
display: block;
width: 105px;
}
.smpushtbwbord{
border-right: #e0e0e0 1px solid;
border-bottom: #e0e0e0 1px solid;
}
.smpush-errors p{
width:500px;
padding:4px;
background-color:#D6492E;
margin:4px 0;
color:#fff;
}
#smio-submit{
margin-bottom:10px;
}
.tablenav .tablenav-pages a,.tablenav .tablenav-pages span.current{
padding: 3px 10px;
font-size: 12px;
font-weight: bold;
}
.smpush-center{
text-align:center!important;
}
.smpush_pre{
border: 1px solid #c7c7c7;
font-family: courier;
line-height: 19px;
margin: 5px;
background-color: #FFFFFF;
color: #222;
overflow: auto;
padding: 7px;
}
#push-token-list tr:nth-child(even) {background: #f1f1f1}
#push-token-list td span{
display: block;
height: 40px;
overflow: hidden;
cursor: pointer;
}
.push-alternate td:last-child{
border-right:solid 3px #0074a2;
}
.wp-list-table td, .wp-list-table th{
vertical-align: middle!important;
}
#smpush-dashboard td input[type=text], #smpush-dashboard td input[type=url], #smpush-dashboard td input[type=number], #smpush-dashboard td textarea, #smpush-dashboard td select{
    height: auto;
    min-height: 8em;
    max-height: 15em;
    overflow: auto;
    padding: 6px 24px 6px 12px;
    line-height: 1.42857143;
    font-size: inherit;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-transition: border-color 0.15s ease-in-out, -moz-box-shadow 0.15s ease-in-out;
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#smpush-dashboard td input[type=text], #smpush-dashboard td input[type=url], #smpush-dashboard td input[type=number], #smpush-dashboard td select{
height: 32px;
min-height: 20px;
}
#smpush-dashboard td input[type=text]:focus, #smpush-dashboard td input[type=url]:focus, #smpush-dashboard td input[type=number]:focus, #smpush-dashboard td textarea:focus, #smpush-dashboard td select:focus{
border-color: #66AFE9;
    outline: 0;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#smpush-dashboard td label{
font-size: 13px;
}
#smpush-dashboard td .description{
line-height: 15px;
margin-top: 6px;
font-size: 13px;
}
.widefat td p{
margin: 2px 0;
}
#col-left{
float: left;
}
.smpush_tdhold pre {
  border: 1px solid #C7C7C7;
  height: 500px;
  font-family: courier;
  line-height: 19px;
  margin: 5px;
  width: 740px;
  background-color: #F4F4F4;
  color: #222;
  overflow: auto;
  padding: 7px;
}
/*google map style*/
#smio-gmap {
width: 100%;
height: 600px;
}
#smio-realtime-gmap {
width: 100%;
height: 650px;
}
#smio_gmap_search {
z-index: 9999;
position: absolute;
margin-left:95px;
margin-top: 16px;
}
.smio_gmap_input {
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 32px;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
background-color: #fff;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 400px;
margin-left:5px;
}
.smio_gmap_input:focus {
border-color: #4d90fe;
}
.smpush_calculate_process{display:none}
#smpush-calculate-dashboard.smpush_floating{
position:fixed;
top:45px;
right:20px;
z-index: 9;
}
#smpush-calculate-dashboard.smpush_floating .postbox{
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#smpush-calculate-dashboard.smpush_floating td{min-width:140px;}
#smpush-calculate-dashboard td{min-width:120px;}
#smpush-calculate-dashboard p.nothing{text-align: center;}
#smpush-calculate-dashboard h4{margin:0;text-align: center;background-color: #BCFFA0;padding:8px 5px;}
#namediv input{width:inherit;}
#namediv input[type=checkbox], #namediv input[type=submit], #namediv input[type=button]{width: inherit;}
.smpush-settings-page h3 label {display:flex}
.smpush-settings-page h3 label img{width:24px;height:24px}
.smpush-settings-page h3 label span{margin-top:4px;margin-left:5px;}
.smpush-settings-page #col-left {width:95%}
.smpush-clear {height:30px;clear:both;margin-top:4px}
.smpushCloseTB{display:block!important;float:right;cursor:pointer;margin:8px;width:12px}

.smpush-sample_notification {
display: block;
width: 360px;
min-height: 82px;
background-color: #fff;
border-radius: 3px;
border: 1px solid #E2E2E2;
box-shadow: 1px 1px 5px #DAD6D6;
color: #58666e;
font-size: 13px;
text-Shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.smpush-sample_notification_logo {
float:left;
width: 80px;
height: 80px;
background-color: #EFEFEF;
}
.smpush-sample_notification .close {
padding-right: 3px;
}
button.smpush-close {
-webkit-appearance: none;
padding: 0;
cursor: pointer;
background: transparent;
border: 0;
}
.smpush-close {
float: right;
font-size: 21px;
font-weight: bold;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
filter: alpha(opacity=20);
opacity: .2;
}
.smpush-sample_notification .smpush-sample_notification_title {
padding-left: 87px;
padding-top: 5px;
}
.smpush-sample_notification .smpush-sample_notification_message {
color:#ccc;
padding-left: 87px;
padding-top: 5px;
}
.smpush-sample_notification .smpush-sample_notification_url {
color:#ccc;
padding-top: 10px;
padding-left: 87px;
font-size: 10px;
}
.categorydiv div.tabs-panel{max-height:inherit}
.ui-tabs-active{
border: 1px solid #ddd!important;
border-bottom-color: #fdfdfd!important;
background-color: #fdfdfd!important;
}
.smpush-hide{display:none!important}
#tabs, #ui-datepicker-div, .ui-datepicker{font-size:12px;}
#smpush-quick-stats{width: 100%;margin: 15px 0;text-align:center}
#smpush-quick-stats td{width: 25%;border-right: 1px solid #ddd;}
#smpush-quick-stats td:last-child{border-right:0}
#smpush-quick-stats img{width: 80px;}
#smpush-quick-stats p{margin: 6px 0;color: #525252;font-size: 15px;font-weight: bold;}
#smpush-quick-stats span{color: #525252;font-size: 20px;font-weight: bold;}
#newsletter-plugin-container{height:1000px;overflow: auto;}
.smpushlinebetween {
    clear: both;
    margin: 10px -12px!important;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}