.c-top-10-stories-carousel {
	width: 100%;
	height: 100%;
	position: relative;
	&__title {
		font-family: $font-fixed;
		font-size: 9rem;
		font-weight: bold;
		line-height: 1.33;
		color: #ffffff;
		position: absolute;
		text-transform: uppercase;
		top: 7rem;
		left: 7rem;
		z-index: 2;
	}
	&__wrapper {
		.owl-nav {
			button.owl-prev,
			button.owl-next {
				width: 5rem;
				height: 5rem;
				background: rgba(#000000, 0.3);
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				border-radius: 2.5rem;
				color: #fff;
			}
			button.owl-prev {
				left: 3.5rem;
			}
			button.owl-next {
				right: 3.5rem;
			}
		}
		.owl-dots {
			height: 15px;
			position: absolute;
			bottom: 5rem;
			right: 3rem;
			font-size: 0;
			justify-content: flex-end;
			@extend %owl-dot;
		}
	}
	@include media-breakpoint-down(md) {
		&__wrapper {
			.owl-dots {
				justify-content: center;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		&__title {
			top: 5.5rem;
			left: 1rem;
			font-size: 4rem;
		}
		&__wrapper {
			.owl-dots {
				width: 100%;
				top: 2rem;
				left: 50%;
				transform: translateX(-50%);
				text-align: center;
			}
		}
	}
}
