.c-top-10-stories-sponsorship {
	width: 100%;
	height: 500px;
	background-color: #242424;
	display: flex;
	align-items: center;
	justify-content: center;
	&__square {
		width: 250px;
		height: 250px;
		color: #fff;
		background-color: #d8d8d8;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@include media-breakpoint-up(md) {
		height: 900px;
	}
	@include media-breakpoint-up(xl) {
		height: 450px;
	}
}
