.c-top-10-stories-hero {
	@extend .c-block-two;
	&__title {
		font-family: $font-fixed;
		font-size: 9rem;
		font-weight: bold;
		line-height: 1.33;
		color: #ffffff;
		position: absolute;
		text-transform: uppercase;
		top: 7rem;
		left: 3.5rem;
		z-index: 1;
	}
	&__left {
		width: 60%;
		height: 900px;
		position: relative;
	}
	&__right {
		@extend .c-block-two__col-right;
	}
	@include media-breakpoint-down(lg) {
		&__left {
			width: 100%;
		}
	}
}
