.c-top-10-stories {
	#desktop-stories {
		width: 100%;
		position: relative;
	}
	#mobile-stories {
		display: none;
	}
	@include media-breakpoint-down(lg) {
		#desktop-stories {
			display: none;
		}
		#mobile-stories {
			display: block;
			width: 100%;
			position: relative;
		}
	}
}
