$className: c-top-10-stories-card;

.#{$className} {
	@extend %card-entry;
	display: block;
	padding-bottom: 500px;

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	&__wrapper {
		@extend %card-entry__wrapper;
		pointer-events: visible;
	}
	&__tag {
		@extend %card-entry__tag;
		padding: 5px 10px;
	}
	&__title {
		@extend %card-entry__title;
		&--small,
		&--carousel {
			font-size: 2rem;
		}
	}
	&__bt {
		@extend %card-entry__bt;
	}

	@include media-breakpoint-up(md) {
		padding-bottom: 900px;
		&--wide,
		&--square {
			padding-bottom: 450px;
		}
		&__title {
			&--carousel {
				font-size: 4rem;
			}
		}

		@include card-entry-breakpoint-up($className, 'md');
	}

	@include media-breakpoint-up(lg) {
		&:hover {
			.#{$className}__img {
				transform: scale(1.2);
			}
		}
	}
}
