$className: c-card-must-watch;

.#{$className} {
	@extend %card-entry;
	display: block;
	padding-bottom: 380px;
	&__wrapper {
		@extend %card-entry__wrapper;
	}
	&__tag {
		@extend %card-entry__tag;
		padding: 5px 10px;
	}
	&__title {
		@extend %card-entry__title;
		font-size: 2rem;
	}
	&__bt {
		@extend %card-entry__bt;
	}

	@include media-breakpoint-up(md) {
		padding-bottom: 320px;
		@include card-entry-breakpoint-up($className, 'md');
	}
	@include media-breakpoint-up(lg) {
		padding-bottom: 500px;
		@include card-entry-breakpoint-up($className, 'lg');
		.c-card-must-watch__title {
			font-size: 2rem;
		}
	}
}
