.editor-custom-block-related-link {
	border-top: 1px solid #c5c6c7;
	border-bottom: 1px solid #a2a9b2;
	padding: 10px 0 30px;
}
.editor-custom-block-related-link p {
	font-weight: 700;
	font-size: 20px;
}

.editor-custom-block-video-gallery {
	border-top: 1px solid #c5c6c7;
	border-bottom: 1px solid #a2a9b2;
	padding: 10px 0 40px;
}
.editor-custom-block-video-gallery p {
	font-weight: 700;
	font-size: 20px;
}
