$color-hover: #2896c8;

.c-item-job {
	width: 100%;
	height: 60px;
	border: 1px solid #3b3b3b;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 0.3s ease-in-out;

	&--active {
		border-color: #2896c8;
		background-image: linear-gradient(to right, #2896c8, #a5e3ff);

		.c-item-job__description,
		.c-item-job__date {
			color: #000 !important;
		}
	}

	&--outline {
		border-color: #000;

		.c-item-job__description,
		.c-item-job__date {
			color: #000;
		}
	}

	&__content {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 10px;
	}
	&__thumb {
		min-width: 40px;
		height: 40px;
		margin-left: 10px;
		background-color: #eee;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&__description {
		font-size: 1.8rem;
		color: #aeaeae;
		transition: 0.3s ease-in-out;
	}
	&__date {
		font-size: 1rem;
		font-weight: bold;
		letter-spacing: 3px;
		color: #6c6c6c;
		text-transform: uppercase;
		margin-right: 0.5rem;
	}
	&__plus {
		min-width: 60px;
		height: 60px;
		border-left: 1px solid #3b3b3b;
		transition: 0.3s ease-in-out;
		color: #3b3b3b;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		.icon-plus {
			font-size: 3rem;
		}
	}

	&__tools {
		display: flex;
		align-items: center;
		padding-right: 1rem;
	}

	&__tools-book,
	&__tools-social {
		@include text-icon();
		border-radius: 50%;
		color: #000;
	}

	&__tools-book,
	&__tools-social {
		width: 4rem;
		height: 4rem;
		margin: 0 0.2rem;
		border: solid 1px #000;
		transition: 0.3s;

		&:hover {
			background-color: #000;
			color: #fff;
		}

		&::before {
			font-size: 1.5rem;
		}
	}

	&__tools-book {
		&::before {
			content: '\e805';
		}
	}

	&__tools-social {
		z-index: 2;
		position: relative;

		&::before {
			content: '\e807';
		}
	}

	&:hover {
		border-color: $color-hover;
		transition: 0.3s ease-in-out;
		.c-item-job__description,
		.c-item-job__date {
			color: $color-hover;
			transition: 0.3s ease-in-out;
		}
		.c-item-job__plus {
			border-color: $color-hover;
			color: $color-hover;
			transition: 0.3s ease-in-out;
		}
	}

	@include media-breakpoint-down(md) {
		justify-content: flex-start;
	}

	@include media-breakpoint-down(sm) {
		height: auto;
		min-height: 50px;
		padding: 10px 0;
		align-items: end;

		&__thumb {
			min-width: 30px;
			height: 30px;
		}
		&__content {
			align-items: baseline;
			justify-content: left;
			flex-direction: column;
		}
		&__description {
			font-size: 1.6rem;
			margin-bottom: 10px;
			line-height: 1.2;
		}
		&__date {
			text-transform: none;
			letter-spacing: 0;
			font-weight: 400;
			font-size: 1.2rem;
		}
		&__plus {
			width: 50px;
			height: 50px;
		}

		&__tools-book,
		&__tools-social {
			width: 3rem;
			height: 3rem;
			margin: 0 0.2rem;
			line-height: 1rem;

			&::before {
				font-size: 1rem;
				line-height: 2rem;
			}
		}
	}
}
