.c-latest-job {
	width: 100%;
	padding: 60px 0;
	background: #000;
	&__header {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 45px;
	}
	&__title {
		font-family: $font-fixed;
		font-size: 4.5rem;
		font-weight: bold;
		color: #2896c8;
		text-transform: uppercase;
	}
	&__more {
		font-size: 1rem;
		display: flex;
		font-weight: bold;
		letter-spacing: 3px;
		color: #ffffff;
		text-transform: uppercase;
		align-items: center;

		&::before {
			content: '\f107';
			font-family: 'fontello';
			margin-right: 15px;
			border-radius: 20px;
			width: 40px;
			height: 40px;
			font-weight: normal;
			letter-spacing: normal;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba($color: #fff, $alpha: 0.3);
			-webkit-text-fill-color: #fff;
		}

		&:hover {
			background-image: linear-gradient(to left, #ffaa3c, #ff8282);
			-webkit-background-clip: text;
			background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
	&__more-mobile {
		display: none;
	}
	&__list {
		width: 100%;
		position: relative;
		& > a {
			margin-bottom: 10px;
		}
	}
	@include media-breakpoint-down(sm) {
		padding: 35px 0;
		&__header {
			margin-bottom: 25px;
		}
		&__title {
			font-size: 3rem;
		}
		&__more {
			display: none;
		}
		&__more-mobile {
			width: 100%;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			border: 1px solid #fff;
			text-transform: uppercase;
			font-size: 1rem;
			letter-spacing: 3px;
			font-weight: bold;
			margin-top: 20px;
		}
	}
}
