.sponsor-img .used-image {
	max-width: 300px;
	position: relative;
	margin: 15px 0 10px;
}
.sponsor-img .used-image img {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}
.sponsor-img .used-image .delete-item {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: #fff;
	border-radius: 50%;
	transition: all 250ms ease-out;
}
.sponsor-img .used-image .delete-item:hover {
	color: red;
	background: #fef;
}
.sponsor-img select {
	width: 250px;
}

.remove-sponsor {
	display: inline-block;
	font-size: 11px;
	color: #ccc;
	margin-top: 35px;
	text-decoration: none;
}
.obs {
	margin-top: 20px;
	font-size: 12px;
}
