/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
    font-family: 'flexslider-icon';
    src: url('../../fonts/flexslider-icon.eot');
    src: url('../../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../../fonts/flexslider-icon.woff') format('woff'), url('../../fonts/flexslider-icon.ttf') format('truetype'), url('../../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
    outline: none;
}

.slides.wpmf-slides,
.slides.wpmf-slides > li,
.flex-control-nav.wpmf-control-nav,
.flex-direction-nav.wpmf-direction-nav {
    padding: 0;
    list-style: none !important;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider.wpmfflexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides.wpmf-slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides.wpmf-slides img {
    display: block;
}

.flexslider .slides.wpmf-slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .flexslider .slides.wpmf-slides {
    display: block;
}

* html .flexslider .slides.wpmf-slides {
    height: 1%;
}

.no-js .flexslider .slides.wpmf-slides > li:first-child {
    display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider.wpmfflexslider {
    margin: 0 0 60px;
    background: #ffffff;
    border: 4px solid #ffffff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flexslider .slides.wpmf-slides {
    zoom: 1;
    margin: 0;
    padding: 0;
}

.flexslider .slides.wpmf-slides img {
    max-width: none !important;
}

.flex-viewport.wpmf-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.loading .flex-viewport.wpmf-viewport {
    max-height: 300px;
}

.carousel li:not(.wpmf-gg-one-columns) {
    margin-right: 15px !important;
}

.wpmfflexslider.wpmffade li.wpmf-gg-one-columns {
    margin: 0 !important;
    max-width: 100% !important;
}

.wpmfflexslider.wpmffade li.wpmf-gallery-item {
    margin-right: -100% !important;
}

.flexslider .slides.wpmf-slides li.wpmf-gg-one-columns img {
    margin: 0 auto !important;
    max-width: 100% !important;
}

.flex-direction-nav.wpmf-direction-nav {
    margin: auto;
    text-decoration: none !important;
    box-shadow: none !important;
}

.flex-direction-nav.wpmf-direction-nav a {
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 0 !important;
    text-decoration: none !important;
    box-shadow: none !important;
    outline: 0 !important;
}

.flex-direction-nav.wpmf-direction-nav a:before {
    content: '\f001';
    display: inline-block;
    font-family: "flexslider-icon";
    font-size: 40px;
    line-height: 40px;
}

.flex-direction-nav.wpmf-direction-nav a.flex-next:before {
    content: '\f002';
}

.flex-direction-nav.wpmf-direction-nav .flex-prev {
    left: -50px;
}

.flex-direction-nav.wpmf-direction-nav .flex-next {
    right: -50px;
    text-align: right;
}

.flexslider.wpmfflexslider:hover .flex-direction-nav.wpmf-direction-nav .flex-prev {
    opacity: 0.7;
    left: 10px;
}

.flexslider.wpmfflexslider:hover .flex-direction-nav.wpmf-direction-nav .flex-prev:hover {
    opacity: 1;
    color: #fff;
}

.flexslider.wpmfflexslider:hover .flex-direction-nav.wpmf-direction-nav .flex-next {
    opacity: 0.7;
    right: 10px;
}

.flexslider.wpmfflexslider:hover .flex-direction-nav.wpmf-direction-nav .flex-next:hover {
    opacity: 1;
    color: #fff;
}

.flex-direction-nav.wpmf-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
}

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}

.flex-pauseplay a:before {
    font-family: "flexslider-icon";
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}

.flex-pauseplay a:hover {
    opacity: 1;
}

.flex-pauseplay a .flex-play:before {
    content: '\f003';
}

.flex-control-nav.wpmf-control-nav {
    width: 100%;
    position: absolute;
    bottom: -60px;
    text-align: center;
}

.flex-control-nav.wpmf-control-nav li {
    margin: 0 6px !important;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging.wpmf-control-nav li a {
    width: 11px;
    height: 11px;
    display: block;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    border-radius: 20px;
    border-bottom: 0 !important;
}

.flex-control-paging.wpmf-control-nav li a:hover {
    background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging.wpmf-control-nav li a.flex-active {
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
    .flex-direction-nav.wpmf-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }

    .flex-direction-nav.wpmf-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}

.wpmf-front-box.top {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    display: block;
    clear: left;
    opacity: 0;
    width: 90%;
    margin: 0 auto;
    border-bottom: #eee 1px solid;
    z-index: 999;
}

.wpmf-front-box.top a {
    text-decoration: none !important;
    font-weight: 100;
}

.wpmf-front-box.top a .title {
    color: #ffffff;
    bottom: 5px;
    font-size: 11px;
    transition: all 0.15s linear;
    float: left;
    padding-bottom: 7px;
}

.wpmf-front-box.top a .caption {
    color: #ffffff;
    text-decoration: none;
    bottom: 5px;
    right: 5%;
    font-size: 11px;
    transition: all 0.15s linear;
    float: right;
    padding-bottom: 7px;
}

.wpmf-gallery-item:hover > .wpmf-front-box.top {
    opacity: 1;
    bottom: 4%;
    transition-duration: 0.3s;
}

.flexslider.wpmfflexslider .wpmf-gallery-item {
    overflow: hidden;
}

.icon-wpmf-nav {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    margin-top: -35px;
    z-index: 9999;
    fill: currentColor;
    color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.icon-chevron-right {
    right: -100px;
}

.icon-chevron-left {
    left: -100px;
}

.flexslider.wpmfflexslider:hover .icon-chevron-right {
    opacity: 0.7;
    right: -10px;
}

.icon-chevron-left:hover {
    opacity: 1;
    color: #fff;
}

.flexslider.wpmfflexslider:hover .icon-chevron-left {
    opacity: 0.7;
    left: -10px;
}

.icon-chevron-right:hover {
    opacity: 1;
    color: #fff;
}

.wpmf-control-nav {
    display: block !important;
}